body {
  background: #f9f9f9;
}

p {
  font-size: 17px;
  font-family: "Korolev-Medium";
  font-weight: 200;
}

h1, h2, h3, h4, h5, button, a {
  font-family: "Korolev-Medium";
}

h2 {
  text-align: center;
  margin-bottom: 15px;
}

hr {
  border-top: 1px solid darkgray;
}

.application-container {
  position: relative;
  width: 100%;
  height: 125px;
  overflow: hidden;
  background: #548;
  background-size: cover;
}

.application-overlay {
  background: rgba(85, 68, 136, 0.62);
  height: 500px;
}

.application-content {
  padding-top: 25px;
  text-align: center;
  color: white;
  width: 50%;
  text-align: center;
  margin-left: 25%;
}

.container-text {
  padding: 2%;
}

.row {
  padding-top:15px;
}
