body {
  background-color: rgba(85, 68, 136, 0.23);
  font-family: "Korolev-Medium";  
}

.training-picture-container {
  position: relative;
  width: 100%;
  height: 500px;
  overflow: hidden;
  background: url(/images/bg/bg_training.png) no-repeat center center;
  background-size: cover;
}

.training-overlay {
  background: rgba(85, 68, 136, 0.62);
  height: 500px;
}

.training-content {
  padding-top: 76px;
  text-align: center;
  color: white;
  width: 50%;
  text-align: center;
  margin-left: 25%;
}

.training-content li {
  text-align: left;
  font-size: 15px;
}

.training-content h1 {

  color: white;
  font-size: 6rem;
  font-weight: 700;
  text-transform: uppercase;
}

.training-form {
  color: white !important;
  margin-top: 25px;
}

@media (max-width: 1066px) {
  .training-content {
    margin: 0;
    width: 100%;
  }

 .training-content li {
    font-size: 13px;
    background-size: cover;
  }

  .action {
    margin: 3% 0% 0 15%;
  }
}
