---
layout: default
title: GitLab CE Download Archives
---
<div id="content">
  <div class="container txt-lefty">
    <div class="row">
      <div class="col-sm-12 col-md-12">
        <div class="entry">
          <div class="row">
            <div class="col-sm-12 col-md-12">
              <p>
                <strong>Packages</strong>
                <br />
                The latest packages are found at the top.
              </p>
              <table class="table">
                <thead>
                  <tr>
                    <th></th>
                    <th>Platform</th>
                    <th>Download</th>
                    <th>SHA256</th>
                  </tr>
                </thead>
                <tbody>

                  <!-- GitLab / CI 7.8.2  -->
                  <tr>
                    <td><img src="/images/ubuntu.png"></td>
                    <td>Ubuntu 12.04 LTS 64bit</td>
                    <td><a href="https://downloads-packages.s3.amazonaws.com/ubuntu-12.04/gitlab_7.8.2-omnibus.1-1_amd64.deb">gitlab_7.8.2-omnibus.1-1_amd64.deb</a></td>
                    <td>9a91f9344b9cce376f6e620773d7607f9c42f93ac9b4ee4cbebfb3f2ce736cfc</td>
                  </tr>

                  <tr>
                    <td><img src="/images/ubuntu.png"></td>
                    <td>Ubuntu 14.04 LTS 64bit</td>
                    <td><a href="https://downloads-packages.s3.amazonaws.com/ubuntu-14.04/gitlab_7.8.2-omnibus.1-1_amd64.deb">gitlab_7.8.2-omnibus.1-1_amd64.deb</a></td>
                    <td>9e052536e2a76e61bbd16b4bff771cff560ab2ffe966c90bd85510d1849f9996</td>
                  </tr>

                  <tr>
                    <td><img src="/images/debian.png"></td>
                    <td>Debian 7 (Wheezy) 64bit</td>
                    <td><a href="https://downloads-packages.s3.amazonaws.com/debian-7.8/gitlab_7.8.2-omnibus.1-1_amd64.deb">gitlab_7.8.2-omnibus.1-1_amd64.deb</a></td>
                    <td>4eb7c4b1b4e22580488698b48748524f2f0dbba1873f52e3e606a838f48f6132</td>
                  </tr>

                  <tr>
                    <td><img src="/images/centos.png"></td>
                    <td>CentOS 6.6 64bit (compatible with all Enterprise Linux 6.x distributions)</td>
                    <td><a href="https://downloads-packages.s3.amazonaws.com/centos-6.6/gitlab-7.8.2_omnibus.1-1.el6.x86_64.rpm">gitlab-7.8.2_omnibus.1-1.el6.x86_64.rpm</a></td>
                    <td>dbf343fa18d4c64894996e0d906289ecb242f92cfe4c448ab8bdc87f84d4e4d3</td>
                  </tr>

                  <tr>
                    <td><img src="/images/centos.png"></td>
                    <td>CentOS 7.0 64bit (compatible with all Enterprise Linux 7.x distributions)</td>
                    <td><a href="https://downloads-packages.s3.amazonaws.com/centos-7.0.1406/gitlab-7.8.2_omnibus.1-1.el7.x86_64.rpm">gitlab-7.8.2_omnibus.1-1.el7.x86_64.rpm</a></td>
                    <td>3fe237777fd1ea619b382ecbefc51244088b3b9606361e5735d25506800c4111</td>
                  </tr>

                  <!-- GitLab / CI 7.8.1  -->
                  <tr>
                    <td><img src="/images/ubuntu.png"></td>
                    <td>Ubuntu 12.04 LTS 64bit</td>
                    <td><a href="https://downloads-packages.s3.amazonaws.com/ubuntu-12.04/gitlab_7.8.1-omnibus-1_amd64.deb">gitlab_7.8.1-omnibus-1_amd64.deb</a></td>
                    <td>58ff668fbdb3e8dd0b0466693a3df80c86503826c2171d0819b7d526b866160b</td>
                  </tr>

                  <tr>
                    <td><img src="/images/ubuntu.png"></td>
                    <td>Ubuntu 14.04 LTS 64bit</td>
                    <td><a href="https://downloads-packages.s3.amazonaws.com/ubuntu-14.04/gitlab_7.8.1-omnibus-1_amd64.deb">gitlab_7.8.1-omnibus-1_amd64.deb</a></td>
                    <td>e4c291a44c37c3d6f714d0841f81a66066dfc43363fb32c9f5e0fad9a545e81e</td>
                  </tr>

                  <tr>
                    <td><img src="/images/debian.png"></td>
                    <td>Debian 7 (Wheezy) 64bit</td>
                    <td><a href="https://downloads-packages.s3.amazonaws.com/debian-7.8/gitlab_7.8.1-omnibus-1_amd64.deb">gitlab_7.8.1-omnibus-1_amd64.deb</a></td>
                    <td>dfdc4acca0c831bc0261a5ac2dcefe5280ecbae9dbcb64cd5a4bff242d5c89a1</td>
                  </tr>

                  <tr>
                    <td><img src="/images/centos.png"></td>
                    <td>CentOS 6.6 64bit (compatible with all Enterprise Linux 6.x distributions)</td>
                    <td><a href="https://downloads-packages.s3.amazonaws.com/centos-6.6/gitlab-7.8.1_omnibus-1.el6.x86_64.rpm">gitlab-7.8.1_omnibus-1.el6.x86_64.rpm</a></td>
                    <td>f9ca7818b5987235311ddd276d907defa33deb7429ef212a1d69bc25ee24c167</td>
                  </tr>

                  <tr>
                    <td><img src="/images/centos.png"></td>
                    <td>CentOS 7.0 64bit (compatible with all Enterprise Linux 7.x distributions)</td>
                    <td><a href="https://downloads-packages.s3.amazonaws.com/centos-7.0.1406/gitlab-7.8.1_omnibus-1.el7.x86_64.rpm">gitlab-7.8.1_omnibus-1.el7.x86_64.rpm</a></td>
                    <td>c8ddbb5592a526ccb7fc985158b29c2664b7b535e64cca2c5ee2572d382eb1e0</td>
                  </tr>

                  <!-- GitLab / CI 7.8.0  -->
                  <tr>
                    <td><img src="/images/ubuntu.png"></td>
                    <td>Ubuntu 12.04 LTS 64bit</td>
                    <td><a href="https://downloads-packages.s3.amazonaws.com/ubuntu-12.04/gitlab_7.8.0-omnibus-1_amd64.deb">gitlab_7.8.0-omnibus-1_amd64.deb</a></td>
                    <td>8e520cfd2be57905ee75db05159b9d5748e3f1007a849a451208584ed4719916</td>
                  </tr>

                  <tr>
                    <td><img src="/images/ubuntu.png"></td>
                    <td>Ubuntu 14.04 LTS 64bit</td>
                    <td><a href="https://downloads-packages.s3.amazonaws.com/ubuntu-14.04/gitlab_7.8.0-omnibus-1_amd64.deb">gitlab_7.8.0-omnibus-1_amd64.deb</a></td>
                    <td>239bbd06f86e76b472965c598249bd8651ec40d4e32eaede35126dab5ba0e720</td>
                  </tr>

                  <tr>
                    <td><img src="/images/debian.png"></td>
                    <td>Debian 7 (Wheezy) 64bit</td>
                    <td><a href="https://downloads-packages.s3.amazonaws.com/debian-7.8/gitlab_7.8.0-omnibus-1_amd64.deb">gitlab_7.8.0-omnibus-1_amd64.deb</a></td>
                    <td>84b28f0c88a8b6f221dd1ef2069c38c0c6b6c806c25b865e321fc91985a73d00</td>
                  </tr>

                  <tr>
                    <td><img src="/images/centos.png"></td>
                    <td>CentOS 6.6 64bit (compatible with all Enterprise Linux 6.x distributions)</td>
                    <td><a href="https://downloads-packages.s3.amazonaws.com/centos-6.6/gitlab-7.8.0_omnibus-1.el6.x86_64.rpm">gitlab-7.8.0_omnibus-1.el6.x86_64.rpm</a></td>
                    <td>c6512f586096a004b71bd0805af382eb889a8fcf88eb0d1d20fb2d93efe8e4e5</td>
                  </tr>

                  <tr>
                    <td><img src="/images/centos.png"></td>
                    <td>CentOS 7.0 64bit (compatible with all Enterprise Linux 7.x distributions)</td>
                    <td><a href="https://downloads-packages.s3.amazonaws.com/centos-7.0.1406/gitlab-7.8.0_omnibus-1.el7.x86_64.rpm">gitlab-7.8.0_omnibus-1.el7.x86_64.rpm</a></td>
                    <td>e9595e35944e670e696ebb0177c50a95cc20f2856e06b33465b8e96b3adf0ab6</td>
                  </tr>

                  <!-- 7.7.2 / CI 5.4.2 -->
                  <tr>
                    <td><img src="/images/ubuntu.png"></td>
                    <td>Ubuntu 12.04 LTS 64bit</td>
                    <td><a href="https://downloads-packages.s3.amazonaws.com/ubuntu-12.04/gitlab_7.7.2-omnibus.5.4.2.ci-1_amd64.deb">gitlab_7.7.2-omnibus.5.4.2.ci-1_amd64.deb</a></td>
                    <td>634f71fd6204a02f582e4c0dd86d89382825de3e3b17d215d62c2126cf117061</td>
                  </tr>

                  <tr>
                    <td><img src="/images/ubuntu.png"></td>
                    <td>Ubuntu 14.04 LTS 64bit</td>
                    <td><a href="https://downloads-packages.s3.amazonaws.com/ubuntu-14.04/gitlab_7.7.2-omnibus.5.4.2.ci-1_amd64.deb">gitlab_7.7.2-omnibus.5.4.2.ci-1_amd64.deb</a></td>
                    <td>5c8968ae656e7158098a23366e080cca825117996695f64bf8f2674b01e5cb57</td>
                  </tr>

                  <tr>
                    <td><img src="/images/debian.png"></td>
                    <td>Debian 7 (Wheezy) 64bit</td>
                    <td><a href="https://downloads-packages.s3.amazonaws.com/debian-7.8/gitlab_7.7.2-omnibus.5.4.2.ci-1_amd64.deb">gitlab_7.7.2-omnibus.5.4.2.ci-1_amd64.deb</a></td>
                    <td>50758e3588b1b588314506280659bbe8164be5330deb345e7f32263c9fe42d0d</td>
                  </tr>

                  <tr>
                    <td><img src="/images/centos.png"></td>
                    <td>CentOS 6.6 64bit (compatible with all Enterprise Linux 6.x distributions)</td>
                    <td><a href="https://downloads-packages.s3.amazonaws.com/centos-6.6/gitlab-7.7.2_omnibus.5.4.2.ci-1.el6.x86_64.rpm">gitlab-7.7.2_omnibus.5.4.2.ci-1.el6.x86_64.rpm</a></td>
                    <td>be915d04982be3ba85deff13e253d813f351a6fe169d7702a767147ea4e1b931</td>
                  </tr>

                  <tr>
                    <td><img src="/images/centos.png"></td>
                    <td>CentOS 7.0 64bit (compatible with all Enterprise Linux 7.x distributions)</td>
                    <td><a href="https://downloads-packages.s3.amazonaws.com/centos-7.0.1406/gitlab-7.7.2_omnibus.5.4.2.ci-1.el7.x86_64.rpm">gitlab-7.7.2_omnibus.5.4.2.ci-1.el7.x86_64.rpm</a></td>
                    <td>5f4cb40616aaf1e8b90cd22d65ef1329923bf2e701013946ed9bd8b0948924c0</td>
                  </tr>

                  <!-- 7.7.1 / CI 5.4.1 -->
                  <tr>
                    <td><img src="/images/ubuntu.png"></td>
                    <td>Ubuntu 12.04 LTS 64bit</td>
                    <td><a href="https://downloads-packages.s3.amazonaws.com/ubuntu-12.04/gitlab_7.7.1-omnibus.5.4.1.ci-1_amd64.deb">gitlab_7.7.1-omnibus.5.4.1.ci-1_amd64.deb</a></td>
                    <td>238c773259686e082bcc08ac80dc50af70dcd8b021ff12ee3a61a2dcbc708e0c</td>
                  </tr>

                  <tr>
                    <td><img src="/images/ubuntu.png"></td>
                    <td>Ubuntu 14.04 LTS 64bit</td>
                    <td><a href="https://downloads-packages.s3.amazonaws.com/ubuntu-14.04/gitlab_7.7.1-omnibus.5.4.1.ci-1_amd64.deb">gitlab_7.7.1-omnibus.5.4.1.ci-1_amd64.deb</a></td>
                    <td>4798432ba72bb8a7bbc8554de8b03210593b99c386c7dd9e0604e05effbc6c21</td>
                  </tr>

                  <tr>
                    <td><img src="/images/debian.png"></td>
                    <td>Debian 7 (Wheezy) 64bit</td>
                    <td><a href="https://downloads-packages.s3.amazonaws.com/debian-7.6/gitlab_7.7.1-omnibus.5.4.1.ci-1_amd64.deb">gitlab_7.7.1-omnibus.5.4.1.ci-1_amd64.deb</a></td>
                    <td>682a8ddf5a85625b478c9219a26dee9dca56d53a45d220fec58e6bb652facfc5</td>
                  </tr>

                  <tr>
                    <td><img src="/images/centos.png"></td>
                    <td>CentOS 6.6 64bit (compatible with all Enterprise Linux 6.x distributions)</td>
                    <td><a href="https://downloads-packages.s3.amazonaws.com/centos-6.6/gitlab-7.7.1_omnibus.5.4.1.ci-1.el6.x86_64.rpm">gitlab-7.7.1_omnibus.5.4.1.ci-1.el6.x86_64.rpm</a></td>
                    <td>d64dcdcfba45ae2dae0ea9554689c136dac4ad000944b9570c402a3cdef15f3b</td>
                  </tr>

                  <tr>
                    <td><img src="/images/centos.png"></td>
                    <td>CentOS 7.0 64bit (compatible with all Enterprise Linux 7.x distributions)</td>
                    <td><a href="https://downloads-packages.s3.amazonaws.com/centos-7.0.1406/gitlab-7.7.1_omnibus.5.4.1.ci-1.el7.x86_64.rpm">gitlab-7.7.1_omnibus.5.4.1.ci-1.el7.x86_64.rpm</a></td>
                    <td>2c75f6a6605f1fabc3089e31f3380fa3dde47c90ea7c5e588176f864f67b1272</td>
                  </tr>

                  <!-- 7.7.0 / CI 5.4.0 -->
                  <tr>
                    <td><img src="/images/ubuntu.png"></td>
                    <td>Ubuntu 12.04 LTS 64bit</td>
                    <td><a href="https://downloads-packages.s3.amazonaws.com/ubuntu-12.04/gitlab_7.7.0-omnibus.5.4.0.ci-1_amd64.deb">gitlab_7.7.0-omnibus.5.4.0.ci-1_amd64.deb</a></td>
                    <td>0082093882077821827dd12ea91e463ba38ca0b792a3d18f2c0bc6375e9d595e</td>
                  </tr>

                  <tr>
                    <td><img src="/images/ubuntu.png"></td>
                    <td>Ubuntu 14.04 LTS 64bit</td>
                    <td><a href="https://downloads-packages.s3.amazonaws.com/ubuntu-14.04/gitlab_7.7.0-omnibus.5.4.0.ci-1_amd64.deb">gitlab_7.7.0-omnibus.5.4.0.ci-1_amd64.deb</a></td>
                    <td>948be8bac7fc51151d0411aafc799c2fc990b26d62af5fd56f4febf641c9d3e7</td>
                  </tr>

                  <tr>
                    <td><img src="/images/debian.png"></td>
                    <td>Debian 7 (Wheezy) 64bit</td>
                    <td><a href="https://downloads-packages.s3.amazonaws.com/debian-7.6/gitlab_7.7.0-omnibus.5.4.0.ci-1_amd64.deb">gitlab_7.7.0-omnibus.5.4.0.ci-1_amd64.deb</a></td>
                    <td>1438358bd0c00eb09a52d0044159387bbf9a791551196de8eb4dce8d87de52a1</td>
                  </tr>

                  <tr>
                    <td><img src="/images/centos.png"></td>
                    <td>CentOS 6.6 64bit (compatible with all Enterprise Linux 6.x distributions)</td>
                    <td><a href="https://downloads-packages.s3.amazonaws.com/centos-6.6/gitlab-7.7.0_omnibus.5.4.0.ci-1.el6.x86_64.rpm">gitlab-7.7.0_omnibus.5.4.0.ci-1.el6.x86_64.rpm</a></td>
                    <td>4435252e7480af4511a202f84d392476fe8e8e84d53d5c8ed62cccc00c938cf5</td>
                  </tr>

                  <tr>
                    <td><img src="/images/centos.png"></td>
                    <td>CentOS 7.0 64bit (compatible with all Enterprise Linux 7.x distributions)</td>
                    <td><a href="https://downloads-packages.s3.amazonaws.com/centos-7.0.1406/gitlab-7.7.0_omnibus.5.4.0.ci-1.el7.x86_64.rpm">gitlab-7.7.0_omnibus.5.4.0.ci-1.el7.x86_64.rpm</a></td>
                    <td>ec0a47a48dea95974d27c564dab2f59d33fc2840ade9163f72f9ee30fc7ea123</td>
                  </tr>

                  <!-- 7.6.2 / CI 5.3.0 -->
                  <tr>
                    <td><img src="/images/ubuntu.png"></td>
                    <td>Ubuntu 12.04 LTS 64bit</td>
                    <td><a href="https://downloads-packages.s3.amazonaws.com/ubuntu-12.04/gitlab_7.6.2-omnibus.5.3.0.ci.1-1_amd64.deb">gitlab_7.6.2-omnibus.5.3.0.ci.1-1_amd64.deb</a></td>
                    <td>e268855b70c9b48eef2e15bda97853d57747abb4daf5e96a7dd452a6412623ee</td>
                  </tr>

                  <tr>
                    <td><img src="/images/ubuntu.png"></td>
                    <td>Ubuntu 14.04 LTS 64bit</td>
                    <td><a href="https://downloads-packages.s3.amazonaws.com/ubuntu-14.04/gitlab_7.6.2-omnibus.5.3.0.ci.1-1_amd64.deb">gitlab_7.6.2-omnibus.5.3.0.ci.1-1_amd64.deb</a></td>
                    <td>39379cb5e6b7caa7617bc590fed3b3a858dfe2a37f88f273541f22f1365155f1</td>
                  </tr>

                  <tr>
                    <td><img src="/images/debian.png"></td>
                    <td>Debian 7 (Wheezy) 64bit</td>
                    <td><a href="https://downloads-packages.s3.amazonaws.com/debian-7.7/gitlab_7.6.2-omnibus.5.3.0.ci.1-1_amd64.deb">gitlab_7.6.2-omnibus.5.3.0.ci.1-1_amd64.deb</a></td>
                    <td>2c88907307a1c2cda571a0d2d109e18b5b0cc2acf9514c845bebc53b46f29504</td>
                  </tr>

                  <tr>
                    <td><img src="/images/centos.png"></td>
                    <td>CentOS 6.6 64bit (compatible with all Enterprise Linux 6.x distributions)</td>
                    <td><a href="https://downloads-packages.s3.amazonaws.com/centos-6.6/gitlab-7.6.2_omnibus.5.3.0.ci.1-1.el6.x86_64.rpm">gitlab-7.6.2_omnibus.5.3.0.ci.1-1.el6.x86_64.rpm</a></td>
                    <td>a761abd70373eb1d9d730758afea0dcb8d2d755f28cb1b6755f484015da814e7</td>
                  </tr>

                  <tr>
                    <td><img src="/images/centos.png"></td>
                    <td>CentOS 7.0 64bit (compatible with all Enterprise Linux 7.x distributions)</td>
                    <td><a href="https://downloads-packages.s3.amazonaws.com/centos-7.0.1406/gitlab-7.6.2_omnibus.5.3.0.ci.1-1.el7.x86_64.rpm">gitlab-7.6.2_omnibus.5.3.0.ci.1-1.el7.x86_64.rpm</a></td>
                    <td>3e04fa54976a75aee54e0bf4da26d01260bef4d6743296f2effa9792158a1a7e</td>
                  </tr>


                  <!-- 7.6.1 / CI 5.3.0 -->
                  <tr>
                    <td><img src="/images/ubuntu.png"></td>
                    <td>Ubuntu 12.04 LTS 64bit</td>
                    <td><a href="https://downloads-packages.s3.amazonaws.com/ubuntu-12.04/gitlab_7.6.1-omnibus.5.3.0.ci.1-1_amd64.deb">gitlab_7.6.1-omnibus.5.3.0.ci-1_amd64.deb</a></td>
                    <td>c6306d4bda13838a7119933f98afefb5db006adc047879e3d66d4cdcb6a842a8</td>
                  </tr>

                  <tr>
                    <td><img src="/images/ubuntu.png"></td>
                    <td>Ubuntu 14.04 LTS 64bit</td>
                    <td><a href="https://downloads-packages.s3.amazonaws.com/ubuntu-14.04/gitlab_7.6.1-omnibus.5.3.0.ci.1-1_amd64.deb">gitlab_7.6.1-omnibus.5.3.0.ci-1_amd64.deb</a></td>
                    <td>4613ae120e0b48ca5fc3dc1d83fb99ba745d26f1e7d8f897b7e30ce9628fe7a2</td>
                  </tr>

                  <tr>
                    <td><img src="/images/debian.png"></td>
                    <td>Debian 7 (Wheezy) 64bit</td>
                    <td><a href="https://downloads-packages.s3.amazonaws.com/debian-7.7/gitlab_7.6.1-omnibus.5.3.0.ci.1-1_amd64.deb">gitlab_7.6.1-omnibus.5.3.0.ci-1_amd64.deb</a></td>
                    <td>abfc012224e42549e57722594dbb5f025bb23298281c34d9f95667ba1df7223c</td>
                  </tr>

                  <tr>
                    <td><img src="/images/centos.png"></td>
                    <td>CentOS 6.6 64bit (compatible with all Enterprise Linux 6.x distributions)</td>
                    <td><a href="https://downloads-packages.s3.amazonaws.com/centos-6.6/gitlab-7.6.1_omnibus.5.3.0.ci.1-1.el6.x86_64.rpm">gitlab-7.6.1_omnibus.5.3.0.ci-1.el6.x86_64.rpm</a></td>
                    <td>2857ada5988a799530f29ad0e55c99510c27ab33ed815f4060beb4cf095169ad</td>
                  </tr>

                  <tr>
                    <td><img src="/images/centos.png"></td>
                    <td>CentOS 7.0 64bit (compatible with all Enterprise Linux 7.x distributions)</td>
                    <td><a href="https://downloads-packages.s3.amazonaws.com/centos-7.0.1406/gitlab-7.6.1_omnibus.5.3.0.ci.1-1.el7.x86_64.rpm">gitlab-7.6.1_omnibus.5.3.0.ci-1.el7.x86_64.rpm</a></td>
                    <td>e20d4e7da4c7b5043ee4f7e872181e3cfb372aa8e1a3ba4af79a65b4c858a6cc</td>
                  </tr>

                <!-- 7.6.0 / CI 5.3.0 -->
                  <tr>
                    <td><img src="/images/ubuntu.png"></td>
                    <td>Ubuntu 12.04 LTS 64bit</td>
                    <td><a href="https://downloads-packages.s3.amazonaws.com/ubuntu-12.04/gitlab_7.6.0-omnibus.5.3.0.ci-1_amd64.deb">gitlab_7.6.0-omnibus.5.3.0.ci-1_amd64.deb</a></td>
                    <td>963e04d9641587310e6b742cd4d82bed80856d01c5460eaacd6af7c0203498e0</td>
                  </tr>

                  <tr>
                    <td><img src="/images/ubuntu.png"></td>
                    <td>Ubuntu 14.04 LTS 64bit</td>
                    <td><a href="https://downloads-packages.s3.amazonaws.com/ubuntu-14.04/gitlab_7.6.0-omnibus.5.3.0.ci-1_amd64.deb">gitlab_7.6.0-omnibus.5.3.0.ci-1_amd64.deb</a></td>
                    <td>316c14b86d9806c1049a5304da30ed5e9fca32f0eb01133c56539412a87bc5f7</td>
                  </tr>

                  <tr>
                    <td><img src="/images/debian.png"></td>
                    <td>Debian 7 (Wheezy) 64bit</td>
                    <td><a href="https://downloads-packages.s3.amazonaws.com/debian-7.7/gitlab_7.6.0-omnibus.5.3.0.ci-1_amd64.deb">gitlab_7.6.0-omnibus.5.3.0.ci-1_amd64.deb</a></td>
                    <td>edf7522fa50f93a957d632ca938f31e0761c40925fb116ccf7e82e8aa508276c</td>
                  </tr>

                  <tr>
                    <td><img src="/images/centos.png"></td>
                    <td>CentOS 6.6 64bit (compatible with all Enterprise Linux 6.x distributions)</td>
                    <td><a href="https://downloads-packages.s3.amazonaws.com/centos-6.6/gitlab-7.6.0_omnibus.5.3.0.ci-1.el6.x86_64.rpm">gitlab-7.6.0_omnibus.5.3.0.ci-1.el6.x86_64.rpm</a></td>
                    <td>846ee3e326c265a76c52ee35c7e970dc07b877c7138fd26a7e1c1fd5342e581c</td>
                  </tr>

                  <tr>
                    <td><img src="/images/centos.png"></td>
                    <td>CentOS 7.0 64bit (compatible with all Enterprise Linux 7.x distributions)</td>
                    <td><a href="https://downloads-packages.s3.amazonaws.com/centos-7.0.1406/gitlab-7.6.0_omnibus.5.3.0.ci-1.el7.x86_64.rpm">gitlab-7.6.0_omnibus.5.3.0.ci-1.el7.x86_64.rpm</a></td>
                    <td>2e76b6f0a535896fa6c5d259b6f51c3a1cc6a64f667e72749dd253ef714e75de</td>
                  </tr>

                  <!-- 7.5.3 / CI 5.2.1 -->
                  <tr>
                    <td><img src="/images/ubuntu.png"></td>
                    <td>Ubuntu 12.04 LTS 64bit</td>
                    <td><a href="https://downloads-packages.s3.amazonaws.com/ubuntu-12.04/gitlab_7.5.3-omnibus.5.2.1.ci-1_amd64.deb">gitlab_7.5.3-omnibus.5.2.1.ci-1_amd64.deb</a></td>
                    <td>cdf33e16b621f70528274b7425d3b4ac91dc11317f455c1ec8ee5e90bede3ad0</td>
                  </tr>

                  <tr>
                    <td><img src="/images/ubuntu.png"></td>
                    <td>Ubuntu 14.04 LTS 64bit</td>
                    <td><a href="https://downloads-packages.s3.amazonaws.com/ubuntu-14.04/gitlab_7.5.3-omnibus.5.2.1.ci-1_amd64.deb">gitlab_7.5.3-omnibus.5.2.1.ci-1_amd64.deb</a></td>
                    <td>c00a73664aa197f78a4df887fd020ea686e299d3cb0ea24f25dcc18fea971902</td>
                  </tr>

                  <tr>
                    <td><img src="/images/debian.png"></td>
                    <td>Debian 7 (Wheezy) 64bit</td>
                    <td><a href="https://downloads-packages.s3.amazonaws.com/debian-7.6/gitlab_7.5.3-omnibus.5.2.1.ci-1_amd64.deb">gitlab_7.5.3-omnibus.5.2.1.ci-1_amd64.deb</a></td>
                    <td>28e32391165acb349a1502cea8c21b2661836eaacbdf8254d9e552c5e5a94968</td>
                  </tr>

                  <tr>
                    <td><img src="/images/centos.png"></td>
                    <td>CentOS 6.6 64bit (compatible with all Enterprise Linux 6.x distributions)</td>
                    <td><a href="https://downloads-packages.s3.amazonaws.com/centos-6.6/gitlab-7.5.3_omnibus.5.2.1.ci-1.el6.x86_64.rpm">gitlab-7.5.3_omnibus.5.2.1.ci-1.el6.x86_64.rpm</a></td>
                    <td>660319cbfad08922a3aa2d0961c019e8263c39c9f12c5629574843cd4fe401b9</td>
                  </tr>

                  <tr>
                    <td><img src="/images/centos.png"></td>
                    <td>CentOS 7.0 64bit (compatible with all Enterprise Linux 7.x distributions)</td>
                    <td><a href="https://downloads-packages.s3.amazonaws.com/centos-7.0.1406/gitlab-7.5.3_omnibus.5.2.1.ci-1.el7.x86_64.rpm">gitlab-7.5.3_omnibus.5.2.1.ci-1.el7.x86_64.rpm</a></td>
                    <td>c434e1fb774beab0fb00ac77c784251edbc09185041be15b216c707e06c9888b</td>
                  </tr>

                  <!-- 7.5.2 / CI 5.2.1 -->
                  <tr>
                    <td><img src="/images/ubuntu.png"></td>
                    <td>Ubuntu 12.04 LTS 64bit</td>
                    <td><a href="https://downloads-packages.s3.amazonaws.com/ubuntu-12.04/gitlab_7.5.2-omnibus.5.2.1.ci-1_amd64.deb">gitlab_7.5.2-omnibus.5.2.1.ci-1_amd64.deb</a></td>
                    <td>a70e05d13e37c25131deb7b705dd05f5d0c9de8a50730646319c7c94dc396f7e</td>
                  </tr>

                  <tr>
                    <td><img src="/images/ubuntu.png"></td>
                    <td>Ubuntu 14.04 LTS 64bit</td>
                    <td><a href="https://downloads-packages.s3.amazonaws.com/ubuntu-14.04/gitlab_7.5.2-omnibus.5.2.1.ci-1_amd64.deb">gitlab_7.5.2-omnibus.5.2.1.ci-1_amd64.deb</a></td>
                    <td>90d9d8e5bf601aaa0ef9436c4141767014a3432a8512791fc247b5b0de7ed5d6</td>
                  </tr>

                  <tr>
                    <td><img src="/images/debian.png"></td>
                    <td>Debian 7 (Wheezy) 64bit</td>
                    <td><a href="https://downloads-packages.s3.amazonaws.com/debian-7.6/gitlab_7.5.2-omnibus.5.2.1.ci-1_amd64.deb">gitlab_7.5.2-omnibus.5.2.1.ci-1_amd64.deb</a></td>
                    <td>5ab3ebbd59b96e761e2026d0cc23ef61cd9ea35776f170e148c5480856286141</td>
                  </tr>

                  <tr>
                    <td><img src="/images/centos.png"></td>
                    <td>CentOS 6.6 64bit (compatible with all Enterprise Linux 6.x distributions)</td>
                    <td><a href="https://downloads-packages.s3.amazonaws.com/centos-6.6/gitlab-7.5.2_omnibus.5.2.1.ci-1.el6.x86_64.rpm">gitlab-7.5.2_omnibus.5.2.1.ci-1.el6.x86_64.rpm</a></td>
                    <td>eefe86bb80375bc6c33e3aa82325123a1d066e0e93e1ea81f6d023aa9ac0dbc3</td>
                  </tr>

                  <tr>
                    <td><img src="/images/centos.png"></td>
                    <td>CentOS 7.0 64bit (compatible with all Enterprise Linux 7.x distributions)</td>
                    <td><a href="https://downloads-packages.s3.amazonaws.com/centos-7.0.1406/gitlab-7.5.2_omnibus.5.2.1.ci-1.el7.x86_64.rpm">gitlab-7.5.2_omnibus.5.2.1.ci-1.el7.x86_64.rpm</a></td>
                    <td>70a39fd83179c1e5db56c27547cedbfedd77bfe4cce57de7c43d678340b73abd</td>
                  </tr>

                  <!-- 7.5.1 / CI 5.2.0 -->
                  <tr>
                    <td><img src="/images/ubuntu.png"></td>
                    <td>Ubuntu 12.04 LTS 64bit</td>
                    <td><a href="https://downloads-packages.s3.amazonaws.com/ubuntu-12.04/gitlab_7.5.1-omnibus.5.2.0.ci-1_amd64.deb">gitlab_7.5.1-omnibus.5.2.0.ci-1_amd64.deb</a></td>
                    <td>ccf753d0da67e22e95160b75a36bec22cc3301dd18600efab5953083742e7f6a</td>
                  </tr>

                  <tr>
                    <td><img src="/images/ubuntu.png"></td>
                    <td>Ubuntu 14.04 LTS 64bit</td>
                    <td><a href="https://downloads-packages.s3.amazonaws.com/ubuntu-14.04/gitlab_7.5.1-omnibus.5.2.0.ci-1_amd64.deb">gitlab_7.5.1-omnibus.5.2.0.ci-1_amd64.deb</a></td>
                    <td>cf535aa2444b44f77397ae1b0f5a929920bbc6fa0c99e256b78c9197dab5faf4</td>
                  </tr>

                  <tr>
                    <td><img src="/images/debian.png"></td>
                    <td>Debian 7 (Wheezy) 64bit</td>
                    <td><a href="https://downloads-packages.s3.amazonaws.com/debian-7.6/gitlab_7.5.1-omnibus.5.2.0.ci-1_amd64.deb">gitlab_7.5.1-omnibus.5.2.0.ci-1_amd64.deb</a></td>
                    <td>93a2fe718376f3478b010d59d07c82928f4dcd6c4600419be53fbbea6356ebb1</td>
                  </tr>

                  <tr>
                    <td><img src="/images/centos.png"></td>
                    <td>CentOS 6.6 64bit (compatible with all Enterprise Linux 6.x distributions)</td>
                    <td><a href="https://downloads-packages.s3.amazonaws.com/centos-6.6/gitlab-7.5.1_omnibus.5.2.0.ci-1.el6.x86_64.rpm">gitlab-7.5.1_omnibus.5.2.0.ci-1.el6.x86_64.rpm</a></td>
                    <td>887f6ac3fa5c50baa06f4b5ce0f21c94bb4823c96ec0813ac93eabfd40039ba9</td>
                  </tr>

                  <tr>
                    <td><img src="/images/centos.png"></td>
                    <td>CentOS 7.0 64bit (compatible with all Enterprise Linux 7.x distributions)</td>
                    <td><a href="https://downloads-packages.s3.amazonaws.com/centos-7.0.1406/gitlab-7.5.1_omnibus.5.2.0.ci-1.el7.x86_64.rpm">gitlab-7.5.1_omnibus.5.2.0.ci-1.el7.x86_64.rpm</a></td>
                    <td>aeac611173973ef4d256bc77f029f53834d0e48f409fd54b6f0ff26fe434e41e</td>
                  </tr>

                  <!-- 7.4.5 / CI 5.1.0 -->
                  <tr>
                    <td><img src="/images/ubuntu.png"></td>
                    <td>Ubuntu 12.04 LTS 64bit</td>
                    <td><a href="https://downloads-packages.s3.amazonaws.com/ubuntu-12.04/gitlab_7.4.5-omnibus.5.1.0.ci-1_amd64.deb">gitlab_7.4.5-omnibus.5.1.0.ci-1_amd64.deb</a></td>
                    <td>c22129c3cdecfd2d559b37314e2bf3d1e787feb511e1de8d0c6600f290e583f9</td>
                  </tr>

                  <tr>
                    <td><img src="/images/ubuntu.png"></td>
                    <td>Ubuntu 14.04 LTS 64bit</td>
                    <td><a href="https://downloads-packages.s3.amazonaws.com/ubuntu-14.04/gitlab_7.4.5-omnibus.5.1.0.ci-1_amd64.deb">gitlab_7.4.5-omnibus.5.1.0.ci-1_amd64.deb</a></td>
                    <td>fb56dfc8445838b2b80ea09271e560e7bf305deb57e091700f916969dc0cb16a</td>
                  </tr>

                  <tr>
                    <td><img src="/images/debian.png"></td>
                    <td>Debian 7 (Wheezy) 64bit</td>
                    <td><a href="https://downloads-packages.s3.amazonaws.com/debian-7.7/gitlab_7.4.5-omnibus.5.1.0.ci-1_amd64.deb">gitlab_7.4.5-omnibus.5.1.0.ci-1_amd64.deb</a></td>
                    <td>04f45ecb827494c074d25b2809b77f6eab0148de7fd42e2141ddfaec0be91c82</td>
                  </tr>

                  <tr>
                    <td><img src="/images/centos.png"></td>
                    <td>CentOS 6.6 64bit (compatible with all Enterprise Linux 6.x distributions)</td>
                    <td><a href="https://downloads-packages.s3.amazonaws.com/centos-6.6/gitlab-7.4.5_omnibus.5.1.0.ci-1.el6.x86_64.rpm">gitlab-7.4.5_omnibus.5.1.0.ci-1.el6.x86_64.rpm</a></td>
                    <td>6cd5afcd9699cb149bc085df84fa22229ef59a959ce097456dded12e877d1957</td>
                  </tr>

                  <tr>
                    <td><img src="/images/centos.png"></td>
                    <td>CentOS 7.0 64bit (compatible with all Enterprise Linux 7.x distributions)</td>
                    <td><a href="https://downloads-packages.s3.amazonaws.com/centos-7.0.1406/gitlab-7.4.5_omnibus.5.1.0.ci-1.el7.x86_64.rpm">gitlab-7.4.5_omnibus.5.1.0.ci-1.el7.x86_64.rpm</a></td>
                    <td>cd11731fb72a13cd9c260a51e6bcc49a5a23a1abf561c92be86c6e7863f21b44</td>
                  </tr>

                  <!-- 7.4.4 / CI 5.1.0 -->
                  <tr>
                    <td><img src="/images/ubuntu.png"></td>
                    <td>Ubuntu 12.04 LTS 64bit</td>
                    <td><a href="https://downloads-packages.s3.amazonaws.com/ubuntu-12.04/gitlab_7.4.4-omnibus.5.1.0.ci.1-1_amd64.deb">gitlab_7.4.4-omnibus.5.1.0.ci.1-1_amd64.deb</a></td>
                    <td>26bc56cf9892866218a7ffc9729eaf60799b419636ea451fe941d6b8c7938dc0</td>
                  </tr>

                  <tr>
                    <td><img src="/images/ubuntu.png"></td>
                    <td>Ubuntu 14.04 LTS 64bit</td>
                    <td><a href="https://downloads-packages.s3.amazonaws.com/ubuntu-14.04/gitlab_7.4.4-omnibus.5.1.0.ci.1-1_amd64.deb">gitlab_7.4.4-omnibus.5.1.0.ci.1-1_amd64.deb</a></td>
                    <td>152df61ba6bce33384bd5f3f5328aeb9b312410b9b3030a0253832a51d749ffd</td>
                  </tr>

                  <tr>
                    <td><img src="/images/debian.png"></td>
                    <td>Debian 7 (Wheezy) 64bit</td>
                    <td><a href="https://downloads-packages.s3.amazonaws.com/debian-7.6/gitlab_7.4.4-omnibus.5.1.0.ci.1-1_amd64.deb">gitlab_7.4.4-omnibus.5.1.0.ci.1-1_amd64.deb</a></td>
                    <td>1353ace3aecbf1ef428437616640aa89766119f6122ba16e3c40438fa4a95e0b</td>
                  </tr>

                  <tr>
                    <td><img src="/images/centos.png"></td>
                    <td>CentOS 6.5 64bit (compatible with all Enterprise Linux 6.x distributions)</td>
                    <td><a href="https://downloads-packages.s3.amazonaws.com/centos-6.6/gitlab-7.4.4_omnibus.5.1.0.ci.1-1.el6.x86_64.rpm">gitlab-7.4.4_omnibus.5.1.0.ci.1-1.el6.x86_64.rpm</a></td>
                    <td>4cd5b59d4b073618a1ac4ce91927cbf1555edaa72a59204a810f656c3c0e379a</td>
                  </tr>

                  <tr>
                    <td><img src="/images/centos.png"></td>
                    <td>CentOS 7.0 64bit (compatible with all Enterprise Linux 7.x distributions)</td>
                    <td><a href="https://downloads-packages.s3.amazonaws.com/centos-7.0.1406/gitlab-7.4.4_omnibus.5.1.0.ci.1-1.el7.x86_64.rpm">gitlab-7.4.4_omnibus.5.1.0.ci.1-1.el7.x86_64.rpm</a></td>
                    <td>7727ca73412264ebd925bdeb331f118e2ff79cd2f01031a41b01a51278ae9e75</td>
                  </tr>

                  <!-- 7.4.3 / CI 5.1.0 -->
                  <tr>
                    <td><img src="/images/ubuntu.png"></td>
                    <td>Ubuntu 12.04 LTS 64bit</td>
                    <td><a href="https://downloads-packages.s3.amazonaws.com/ubuntu-12.04/gitlab_7.4.3-omnibus.5.1.0.ci-1_amd64.deb">gitlab_7.4.3-omnibus.5.1.0.ci-1_amd64.deb</a></td>
                    <td>MD5: 85858da974d9430b5580165e94bede36</td>
                  </tr>

                  <tr>
                    <td><img src="/images/ubuntu.png"></td>
                    <td>Ubuntu 14.04 LTS 64bit</td>
                    <td><a href="https://downloads-packages.s3.amazonaws.com/ubuntu-14.04/gitlab_7.4.3-omnibus.5.1.0.ci-1_amd64.deb">gitlab_7.4.3-omnibus.5.1.0.ci-1_amd64.deb</a></td>
                    <td>MD5: 374a7fc435c444f2aac9ee3b95df942b</td>
                  </tr>

                  <tr>
                    <td><img src="/images/debian.png"></td>
                    <td>Debian 7 (Wheezy) 64bit</td>
                    <td><a href="https://downloads-packages.s3.amazonaws.com/debian-7.6/gitlab_7.4.3-omnibus.5.1.0.ci-1_amd64.deb">gitlab_7.4.3-omnibus.5.1.0.ci-1_amd64.deb</a></td>
                    <td>MD5: 1b3d22d0d57ea453dfe93cb0c6501db9</td>
                  </tr>

                  <tr>
                    <td><img src="/images/centos.png"></td>
                    <td>CentOS 6.5 64bit (compatible with all Enterprise Linux 6.x distributions)</td>
                    <td><a href="https://downloads-packages.s3.amazonaws.com/centos-6.5/gitlab-7.4.3_omnibus.5.1.0.ci-1.el6.x86_64.rpm">gitlab-7.4.3_omnibus.5.1.0.ci-1.el6.x86_64.rpm</a></td>
                    <td>MD5: a88e13af24cba73055a1f8f94fdcd2fa</td>
                  </tr>

                  <tr>
                    <td><img src="/images/centos.png"></td>
                    <td>CentOS 7.0 64bit (compatible with all Enterprise Linux 7.x distributions)</td>
                    <td><a href="https://downloads-packages.s3.amazonaws.com/centos-7.0.1406/gitlab-7.4.3_omnibus.5.1.0.ci-1.el7.x86_64.rpm">gitlab-7.4.3_omnibus.5.1.0.ci-1.el7.x86_64.rpm</a></td>
                    <td>MD5: c1c6f377e7adbbf30fb4e0be6810d58a</td>
                  </tr>

                  <!-- 7.4.3 -->
                  <tr>
                    <td><img src="/images/ubuntu.png"></td>
                    <td>Ubuntu 12.04 LTS 64bit</td>
                    <td><a href="https://downloads-packages.s3.amazonaws.com/ubuntu-12.04/gitlab_7.4.3-omnibus.1-1_amd64.deb">gitlab_7.4.3-omnibus.1-1_amd64.deb</a></td>
                    <td>MD5: d964b14e5c1357eaee29ec1d7644b63a</td>
                  </tr>

                  <tr>
                    <td><img src="/images/ubuntu.png"></td>
                    <td>Ubuntu 14.04 LTS 64bit</td>
                    <td><a href="https://downloads-packages.s3.amazonaws.com/ubuntu-14.04/gitlab_7.4.3-omnibus.1-1_amd64.deb">gitlab_7.4.3-omnibus.1-1_amd64.deb</a></td>
                    <td>MD5: 709328b5770cbf10291396cae0ce05d8</td>
                  </tr>

                  <tr>
                    <td><img src="/images/debian.png"></td>
                    <td>Debian 7 (Wheezy) 64bit</td>
                    <td><a href="https://downloads-packages.s3.amazonaws.com/debian-7.6/gitlab_7.4.3-omnibus.1-1_amd64.deb">gitlab_7.4.3-omnibus.1-1_amd64.deb</a></td>
                    <td>MD5: e0da1630b65fa13ee04e424d921286e9</td>
                  </tr>

                  <tr>
                    <td><img src="/images/centos.png"></td>
                    <td>CentOS 6.5 64bit (compatible with all Enterprise Linux 6.x distributions)</td>
                    <td><a href="https://downloads-packages.s3.amazonaws.com/centos-6.5/gitlab-7.4.3_omnibus.1-1.el6.x86_64.rpm">gitlab-7.4.3_omnibus.1-1.el6.x86_64.rpm</a></td>
                    <td>MD5: eda1c10ca0cdf4ee917fb31abdd2d351</td>
                  </tr>

                  <tr>
                    <td><img src="/images/centos.png"></td>
                    <td>CentOS 7.0 64bit (compatible with all Enterprise Linux 7.x distributions)</td>
                    <td><a href="https://downloads-packages.s3.amazonaws.com/centos-7.0.1406/gitlab-7.4.3_omnibus.1-1.el7.x86_64.rpm">gitlab-7.4.3_omnibus.1-1.el7.x86_64.rpm</a></td>
                    <td>MD5: e33a540089f9489b8af69c6e55f3e656</td>
                  </tr>

                  <!-- 7.4.2 -->
                  <tr>
                    <td><img src="/images/ubuntu.png"></td>
                    <td>Ubuntu 12.04 LTS 64bit</td>
                    <td><a href="https://downloads-packages.s3.amazonaws.com/ubuntu-12.04/gitlab_7.4.2-omnibus-1_amd64.deb">gitlab_7.4.2-omnibus-1_amd64.deb</a></td>
                    <td>MD5: 04de59368a8e0d98ec96a609f9983e35</td>
                  </tr>

                  <tr>
                    <td><img src="/images/ubuntu.png"></td>
                    <td>Ubuntu 14.04 LTS 64bit</td>
                    <td><a href="https://downloads-packages.s3.amazonaws.com/ubuntu-14.04/gitlab_7.4.2-omnibus-1_amd64.deb">gitlab_7.4.2-omnibus-1_amd64.deb</a></td>
                    <td>MD5: 1a694da813e8b0d3470992bc568fab71</td>
                  </tr>

                  <tr>
                    <td><img src="/images/debian.png"></td>
                    <td>Debian 7 (Wheezy) 64bit</td>
                    <td><a href="https://downloads-packages.s3.amazonaws.com/debian-7.6/gitlab_7.4.2-omnibus-1_amd64.deb">gitlab_7.4.2-omnibus-1_amd64.deb</a></td>
                    <td>MD5: af10979a19b54ed5e42f7ed4b5686e0f</td>
                  </tr>

                  <tr>
                    <td><img src="/images/centos.png"></td>
                    <td>CentOS 6.5 64bit (compatible with all Enterprise Linux 6.x distributions)</td>
                    <td><a href="https://downloads-packages.s3.amazonaws.com/centos-6.5/gitlab-7.4.2_omnibus-1.el6.x86_64.rpm">gitlab-7.4.2_omnibus-1.el6.x86_64.rpm</a></td>
                    <td>MD5: 0a5931993e7f39bf078c7ede82798af5</td>
                  </tr>

                  <tr>
                    <td><img src="/images/centos.png"></td>
                    <td>CentOS 7.0 64bit (compatible with all Enterprise Linux 7.x distributions)</td>
                    <td><a href="https://downloads-packages.s3.amazonaws.com/centos-7.0.1406/gitlab-7.4.2_omnibus-1.el7.x86_64.rpm">gitlab-7.4.2_omnibus-1.el7.x86_64.rpm</a></td>
                    <td>MD5: 6fd2d29379f34b5fcda58277fe92c11e</td>
                  </tr>

                  <!-- 7.4.1 -->
                  <tr>
                    <td><img src="/images/ubuntu.png"></td>
                    <td>Ubuntu 12.04 LTS 64bit</td>
                    <td><a href="https://downloads-packages.s3.amazonaws.com/ubuntu-12.04/gitlab_7.4.1-omnibus-1_amd64.deb">gitlab_7.4.1-omnibus-1_amd64.deb</a></td>
                    <td>MD5: c96422652f50f51dc1cf410203fde98d</td>
                  </tr>

                  <tr>
                    <td><img src="/images/ubuntu.png"></td>
                    <td>Ubuntu 14.04 LTS 64bit</td>
                    <td><a href="https://downloads-packages.s3.amazonaws.com/ubuntu-14.04/gitlab_7.4.1-omnibus-1_amd64.deb">gitlab_7.4.1-omnibus-1_amd64.deb</a></td>
                    <td>MD5: 83ad8326d7cce71a7bcf7941d749755d</td>
                  </tr>

                  <tr>
                    <td><img src="/images/debian.png"></td>
                    <td>Debian 7 (Wheezy) 64bit</td>
                    <td><a href="https://downloads-packages.s3.amazonaws.com/debian-7.6/gitlab_7.4.1-omnibus-1_amd64.deb">gitlab_7.4.1-omnibus-1_amd64.deb</a></td>
                    <td>MD5: f564db1c9daf91b62bb36cc076527d3b</td>
                  </tr>

                  <tr>
                    <td><img src="/images/centos.png"></td>
                    <td>CentOS 6.5 64bit (compatible with all Enterprise Linux 6.x distributions)</td>
                    <td><a href="https://downloads-packages.s3.amazonaws.com/centos-6.5/gitlab-7.4.1_omnibus-1.el6.x86_64.rpm">gitlab-7.4.1_omnibus-1.el6.x86_64.rpm</a></td>
                    <td>MD5: ab7c81c9662d54498956d8f53973f724</td>
                  </tr>

                  <tr>
                    <td><img src="/images/centos.png"></td>
                    <td>CentOS 7.0 64bit (compatible with all Enterprise Linux 7.x distributions)</td>
                    <td><a href="https://downloads-packages.s3.amazonaws.com/centos-7.0.1406/gitlab-7.4.1_omnibus-1.el7.x86_64.rpm">gitlab-7.4.1_omnibus-1.el7.x86_64.rpm</a></td>
                    <td>MD5: 13c794862423ebed764c4ff46352f561</td>
                  </tr>

                  <!-- 7.4.0 -->
                  <tr>
                    <td><img src="/images/ubuntu.png"></td>
                    <td>Ubuntu 12.04 LTS 64bit</td>
                    <td><a href="https://downloads-packages.s3.amazonaws.com/ubuntu-12.04/gitlab_7.4.0-omnibus-1_amd64.deb">gitlab_7.4.0-omnibus-1_amd64.deb</a></td>
                    <td>MD5: cb7b18b52156ff2b187079cb16047735</td>
                  </tr>

                  <tr>
                    <td><img src="/images/ubuntu.png"></td>
                    <td>Ubuntu 14.04 LTS 64bit</td>
                    <td><a href="https://downloads-packages.s3.amazonaws.com/ubuntu-14.04/gitlab_7.4.0-omnibus-1_amd64.deb">gitlab_7.4.0-omnibus-1_amd64.deb</a></td>
                    <td>MD5: 5e92e21a3b94bb849174120034780d2a</td>
                  </tr>

                  <tr>
                    <td><img src="/images/debian.png"></td>
                    <td>Debian 7 (Wheezy) 64bit</td>
                    <td><a href="https://downloads-packages.s3.amazonaws.com/debian-7.6/gitlab_7.4.0-omnibus-1_amd64.deb">gitlab_7.4.0-omnibus-1_amd64.deb</a></td>
                    <td>MD5: b409d8407b09b6721328d7cfdb1cff1d</td>
                  </tr>

                  <tr>
                    <td><img src="/images/centos.png"></td>
                    <td>CentOS 6.5 64bit (compatible with all Enterprise Linux 6.x distributions)</td>
                    <td><a href="https://downloads-packages.s3.amazonaws.com/centos-6.5/gitlab-7.4.0_omnibus-1.el6.x86_64.rpm">gitlab-7.4.0_omnibus-1.el6.x86_64.rpm</a></td>
                    <td>MD5: 4497e03181fbd08b8c9665b951ca9e1a</td>
                  </tr>

                  <tr>
                    <td><img src="/images/centos.png"></td>
                    <td>CentOS 7.0 64bit (compatible with all Enterprise Linux 7.x distributions)</td>
                    <td><a href="https://downloads-packages.s3.amazonaws.com/centos-7.0.1406/gitlab-7.4.0_omnibus-1.el7.x86_64.rpm">gitlab-7.4.0_omnibus-1.el7.x86_64.rpm</a></td>
                    <td>MD5: 4841784162e58b9a4afc7b0d0dfeeb18</td>
                  </tr>

                  <!-- 7.3.3 -->
                  <tr>
                    <td><img src="/images/ubuntu.png"></td>
                    <td>Ubuntu 12.04 LTS 64bit</td>
                    <td><a href="https://downloads-packages.s3.amazonaws.com/ubuntu-12.04/gitlab_7.3.3-omnibus-1_amd64.deb">gitlab_7.3.3-omnibus-1_amd64.deb</a></td>
                    <td>ec67a3a213edbf9a779163ab33b06e34b28b741a34ac10a31f8f8c802ec1dc30</td>
                  </tr>

                  <tr>
                    <td><img src="/images/ubuntu.png"></td>
                    <td>Ubuntu 14.04 LTS 64bit</td>
                    <td><a href="https://downloads-packages.s3.amazonaws.com/ubuntu-14.04/gitlab_7.3.3-omnibus-1_amd64.deb">gitlab_7.3.3-omnibus-1_amd64.deb</a></td>
                    <td>96619a7a173c0683a824bd6095b198f3c3b23b6653d4bc2ad8c4620f629e8a19</td>
                  </tr>

                  <tr>
                    <td><img src="/images/debian.png"></td>
                    <td>Debian 7 (Wheezy) 64bit</td>
                    <td><a href="https://downloads-packages.s3.amazonaws.com/debian-7.7/gitlab_7.3.3-omnibus-1_amd64.deb">gitlab_7.3.3-omnibus-1_amd64.deb</a></td>
                    <td>6b9f9145c44b91e0024177168c70fd725ef424752c75dcf577dc9d86cf42adb0</td>
                  </tr>

                  <tr>
                    <td><img src="/images/centos.png"></td>
                    <td>CentOS 6.6 64bit (compatible with all Enterprise Linux 6.x distributions)</td>
                    <td><a href="https://downloads-packages.s3.amazonaws.com/centos-6.6/gitlab-7.3.3_omnibus-1.el6.x86_64.rpm">gitlab-7.3.3_omnibus-1.el6.x86_64.rpm</a></td>
                    <td>e0d443ab0b35815a3fb90676371be8c9ecaa5e1dfff9964e282d341fb7bf7d62</td>
                  </tr>

                  <tr>
                    <td><img src="/images/centos.png"></td>
                    <td>CentOS 7.0 64bit (compatible with all Enterprise Linux 7.x distributions)</td>
                    <td><a href="https://downloads-packages.s3.amazonaws.com/centos-7.0.1406/gitlab-7.3.3_omnibus-1.el7.x86_64.rpm">gitlab-7.3.3_omnibus-1.el7.x86_64.rpm</a></td>
                    <td>5f685fe626d831859eb64f9becc919f4b3c0916bc0e45cb9654eab07e9292760</td>
                  </tr>

                  <!-- 7.3.2 -->
                  <tr>
                    <td><img src="/images/ubuntu.png"></td>
                    <td>Ubuntu 12.04 LTS 64bit</td>
                    <td><a href="https://downloads-packages.s3.amazonaws.com/ubuntu-12.04/gitlab_7.3.2-omnibus-1_amd64.deb">gitlab_7.3.2-omnibus-1_amd64.deb</a></td>
                    <td>MD5: a02ad3dd05607688b26736835f440db6</td>
                  </tr>

                  <tr>
                    <td><img src="/images/ubuntu.png"></td>
                    <td>Ubuntu 14.04 LTS 64bit</td>
                    <td><a href="https://downloads-packages.s3.amazonaws.com/ubuntu-14.04/gitlab_7.3.2-omnibus-1_amd64.deb">gitlab_7.3.2-omnibus-1_amd64.deb</a></td>
                    <td>MD5: 8d02844981d742511d8df6ae93a2885c</td>
                  </tr>

                  <tr>
                    <td><img src="/images/debian.png"></td>
                    <td>Debian 7 (Wheezy) 64bit</td>
                    <td><a href="https://downloads-packages.s3.amazonaws.com/debian-7.6/gitlab_7.3.2-omnibus-1_amd64.deb">gitlab_7.3.2-omnibus-1_amd64.deb</a></td>
                    <td>MD5: cf27740c91a91069ea2775e22c8b0be7</td>
                  </tr>

                  <tr>
                    <td><img src="/images/centos.png"></td>
                    <td>CentOS 6.5 64bit (compatible with all Enterprise Linux 6.x distributions)</td>
                    <td><a href="https://downloads-packages.s3.amazonaws.com/centos-6.5/gitlab-7.3.2_omnibus-1.el6.x86_64.rpm">gitlab-7.3.2_omnibus-1.el6.x86_64.rpm</a></td>
                    <td>MD5: 8ed622dc1070e202b1123d1ce283e96f</td>
                  </tr>

                  <tr>
                    <td><img src="/images/centos.png"></td>
                    <td>CentOS 7.0 64bit (compatible with all Enterprise Linux 7.x distributions)</td>
                    <td><a href="https://downloads-packages.s3.amazonaws.com/centos-7.0.1406/gitlab-7.3.2_omnibus-1.el7.x86_64.rpm">gitlab-7.3.2_omnibus-1.el7.x86_64.rpm</a></td>
                    <td>MD5: f218944e33cfabcac522a4384ae3ac0f</td>
                  </tr>

                  <!-- 7.3.1 -->
                  <tr>
                    <td><img src="/images/ubuntu.png"></td>
                    <td>Ubuntu 12.04 LTS 64bit</td>
                    <td><a href="https://downloads-packages.s3.amazonaws.com/ubuntu-12.04/gitlab_7.3.1-omnibus-1_amd64.deb">gitlab_7.3.1-omnibus-1_amd64.deb</a></td>
                    <td>MD5: 5f6b63eaae9617e69afcda2168f4b460</td>
                  </tr>

                  <tr>
                    <td><img src="/images/ubuntu.png"></td>
                    <td>Ubuntu 14.04 LTS 64bit</td>
                    <td><a href="https://downloads-packages.s3.amazonaws.com/ubuntu-14.04/gitlab_7.3.1-omnibus-1_amd64.deb">gitlab_7.3.1-omnibus-1_amd64.deb</a></td>
                    <td>MD5: 992940f5a31b28be3ee77046198b3329</td>
                  </tr>

                  <tr>
                    <td><img src="/images/debian.png"></td>
                    <td>Debian 7 (Wheezy) 64bit</td>
                    <td><a href="https://downloads-packages.s3.amazonaws.com/debian-7.6/gitlab_7.3.1-omnibus-1_amd64.deb">gitlab_7.3.1-omnibus-1_amd64.deb</a></td>
                    <td>MD5: 7c969d0590ebc425211209c574ede3a7</td>
                  </tr>

                  <tr>
                    <td><img src="/images/centos.png"></td>
                    <td>CentOS 6.5 64bit (compatible with all Enterprise Linux 6.x distributions)</td>
                    <td><a href="https://downloads-packages.s3.amazonaws.com/centos-6.5/gitlab-7.3.1_omnibus-1.el6.x86_64.rpm">gitlab-7.3.1_omnibus-1.el6.x86_64.rpm</a></td>
                    <td>MD5: 6055ae3448e8efbe00d8b2850b8ed9c5</td>
                  </tr>

                  <tr>
                    <td><img src="/images/centos.png"></td>
                    <td>CentOS 7.0 64bit (compatible with all Enterprise Linux 7.x distributions)</td>
                    <td><a href="https://downloads-packages.s3.amazonaws.com/centos-7.0.1406/gitlab-7.3.1_omnibus-1.el7.x86_64.rpm">gitlab-7.3.1_omnibus-1.el7.x86_64.rpm</a></td>
                    <td>MD5: cfc7a64e1d4b81d2a7fb1ef4604d7db6</td>
                  </tr>

                  <!-- 7.3.0 -->
                  <tr>
                    <td><img src="/images/ubuntu.png"></td>
                    <td>Ubuntu 12.04 LTS 64bit</td>
                    <td><a href="https://downloads-packages.s3.amazonaws.com/ubuntu-12.04/gitlab_7.3.0-omnibus-1_amd64.deb">gitlab_7.3.0-omnibus-1_amd64.deb</a></td>
                    <td>MD5: 10579e2c812b893bf59c7f1a5e8ae8b6</td>
                  </tr>

                  <tr>
                    <td><img src="/images/ubuntu.png"></td>
                    <td>Ubuntu 14.04 LTS 64bit</td>
                    <td><a href="https://downloads-packages.s3.amazonaws.com/ubuntu-14.04/gitlab_7.3.0-omnibus-1_amd64.deb">gitlab_7.3.0-omnibus-1_amd64.deb</a></td>
                    <td>MD5: 7ea1fa334a623f817d2b1992b5c828e2</td>
                  </tr>

                  <tr>
                    <td><img src="/images/debian.png"></td>
                    <td>Debian 7 (Wheezy) 64bit</td>
                    <td><a href="https://downloads-packages.s3.amazonaws.com/debian-7.6/gitlab_7.3.0-omnibus-1_amd64.deb">gitlab_7.3.0-omnibus-1_amd64.deb</a></td>
                    <td>MD5: b8e950ca65c51994a11d4fb6176d48ab</td>
                  </tr>

                  <tr>
                    <td><img src="/images/centos.png"></td>
                    <td>CentOS 6.5 64bit (compatible with all Enterprise Linux 6.x distributions)</td>
                    <td><a href="https://downloads-packages.s3.amazonaws.com/centos-6.5/gitlab-7.3.0_omnibus-1.el6.x86_64.rpm">gitlab-7.3.0_omnibus-1.el6.x86_64.rpm</a></td>
                    <td>MD5: 22995995d1bdec1fa467e03c64ceb681</td>
                  </tr>

                  <tr>
                    <td><img src="/images/centos.png"></td>
                    <td>CentOS 7.0 64bit (compatible with all Enterprise Linux 7.x distributions)</td>
                    <td><a href="https://downloads-packages.s3.amazonaws.com/centos-7.0.1406/gitlab-7.3.0_omnibus-1.el7.x86_64.rpm">gitlab-7.3.0_omnibus-1.el7.x86_64.rpm</a></td>
                    <td>MD5: dd549a9f3679d088374119b7b2e7c81a</td>
                  </tr>

                  <!-- 7.2.3 -->
                  <tr>
                    <td><img src="/images/ubuntu.png"></td>
                    <td>Ubuntu 12.04 LTS 64bit</td>
                    <td><a href="https://downloads-packages.s3.amazonaws.com/ubuntu-12.04/gitlab-7.2.3_omnibus-1_amd64.deb">gitlab-7.2.3_omnibus-1_amd64.deb</a></td>
                    <td>a9b07ee5210d0602431419f6c751b6133bb84d036482e7b89125c0fced0ea772</td>
                  </tr>

                  <tr>
                    <td><img src="/images/ubuntu.png"></td>
                    <td>Ubuntu 14.04 LTS 64bit</td>
                    <td><a href="https://downloads-packages.s3.amazonaws.com/ubuntu-14.04/gitlab-7.2.3_omnibus-1_amd64.deb">gitlab-7.2.3_omnibus-1_amd64.deb</a></td>
                    <td>a0199a02950075065e650218df44422ff23cfabf8bfc798a73545f54dbc6ea91</td>
                  </tr>

                  <tr>
                    <td><img src="/images/debian.png"></td>
                    <td>Debian 7 (Wheezy) 64bit</td>
                    <td><a href="https://downloads-packages.s3.amazonaws.com/debian-7.7/gitlab-7.2.3_omnibus-1_amd64.deb">gitlab-7.2.3_omnibus-1_amd64.deb</a></td>
                    <td>9326f568e892e4d930236b4dfe8f073805759dd7c173bd40948df32a4012a7f6</td>
                  </tr>

                  <tr>
                    <td><img src="/images/centos.png"></td>
                    <td>CentOS 6.6 64bit (compatible with all Enterprise Linux 6.x distributions)</td>
                    <td><a href="https://downloads-packages.s3.amazonaws.com/centos-6.6/gitlab-7.2.3_omnibus-1.el6.x86_64.rpm">gitlab-7.2.3_omnibus-1.el6.x86_64.rpm</a></td>
                    <td>5735c39bc73f2837858558044e1de2834fd7ce511d33322d1795c8aadd008bd7</td>
                  </tr>

                  <tr>
                    <td><img src="/images/centos.png"></td>
                    <td>CentOS 7.0 64bit (compatible with all Enterprise Linux 7.x distributions)</td>
                    <td><a href="https://downloads-packages.s3.amazonaws.com/centos-7.0.1406/gitlab-7.2.3_omnibus-1.el7.x86_64.rpm">gitlab-7.2.3_omnibus-1.el7.x86_64.rpm</a></td>
                    <td>fdfe81fcfd00b6bd65c7e32a6aefe0cc5e3575d56557aa25fb870187309d16c4</td>
                  </tr>

                  <!-- 7.2.2 -->
                  <tr>
                    <td><img src="/images/ubuntu.png"></td>
                    <td>Ubuntu 12.04 LTS 64bit</td>
                    <td><a href="https://downloads-packages.s3.amazonaws.com/ubuntu-12.04/gitlab_7.2.2-omnibus-1_amd64.deb">gitlab_7.2.2-omnibus-1_amd64.deb</a></td>
                    <td>MD5: 27e2304bcbcb2928ee9e0e7c0ce1932d</td>
                  </tr>

                  <tr>
                    <td><img src="/images/ubuntu.png"></td>
                    <td>Ubuntu 14.04 LTS 64bit</td>
                    <td><a href="https://downloads-packages.s3.amazonaws.com/ubuntu-14.04/gitlab_7.2.2-omnibus-1_amd64.deb">gitlab_7.2.2-omnibus-1_amd64.deb</a></td>
                    <td>MD5: ad361daf2f008ed4989d86ba7bd9775b</td>
                  </tr>

                  <tr>
                    <td><img src="/images/debian.png"></td>
                    <td>Debian 7 (Wheezy) 64bit</td>
                    <td><a href="https://downloads-packages.s3.amazonaws.com/debian-7.6/gitlab_7.2.2-omnibus-1_amd64.deb">gitlab_7.2.2-omnibus-1_amd64.deb</a></td>
                    <td>MD5: b84be9db48f2c40d1775b9751ffcf635</td>
                  </tr>

                  <tr>
                    <td><img src="/images/centos.png"></td>
                    <td>CentOS 6.5 64bit (compatible with all Enterprise Linux 6.x distributions)</td>
                    <td><a href="https://downloads-packages.s3.amazonaws.com/centos-6.5/gitlab-7.2.2_omnibus-1.el6.x86_64.rpm">gitlab-7.2.2_omnibus-1.el6.x86_64.rpm</a></td>
                    <td>MD5: 89f490abb20ac7095966479e540d85ce</td>
                  </tr>

                  <tr>
                    <td><img src="/images/centos.png"></td>
                    <td>CentOS 7.0 64bit (compatible with all Enterprise Linux 7.x distributions)</td>
                    <td><a href="https://downloads-packages.s3.amazonaws.com/centos-7.0.1406/gitlab-7.2.2_omnibus-1.el7.x86_64.rpm">gitlab-7.2.2_omnibus-1.el7.x86_64.rpm</a></td>
                    <td>MD5: 44d1cde91250b2fc50586afba97d503a</td>
                  </tr>


                  <!-- 7.2.1 -->
                  <tr>
                    <td><img src="/images/ubuntu.png"></td>
                    <td>Ubuntu 12.04 LTS 64bit</td>
                    <td><a href="https://downloads-packages.s3.amazonaws.com/ubuntu-12.04/gitlab_7.2.1-omnibus.1-1_amd64.deb">gitlab_7.2.1-omnibus.1-1_amd64.deb</a></td>
                    <td>MD5: 788f7bcbd0314ce25a4d89ced7730cf2</td>
                  </tr>

                  <tr>
                    <td><img src="/images/ubuntu.png"></td>
                    <td>Ubuntu 14.04 LTS 64bit</td>
                    <td><a href="https://downloads-packages.s3.amazonaws.com/ubuntu-14.04/gitlab_7.2.1-omnibus.1-1_amd64.deb">gitlab_7.2.1-omnibus.1-1_amd64.deb</a></td>
                    <td>MD5: 6800253a8d03f5341b901a472f6a389f</td>
                  </tr>

                  <tr>
                    <td><img src="/images/debian.png"></td>
                    <td>Debian 7 (Wheezy) 64bit</td>
                    <td><a href="https://downloads-packages.s3.amazonaws.com/debian-7.6/gitlab_7.2.1-omnibus.1-1_amd64.deb">gitlab_7.2.1-omnibus.1-1_amd64.deb</a></td>
                    <td>MD5: aef0f0f41a34b06f1a84664096089b5f</td>
                  </tr>

                  <tr>
                    <td><img src="/images/centos.png"></td>
                    <td>CentOS 6.5 64bit (compatible with all Enterprise Linux 6.x distributions)</td>
                    <td><a href="https://downloads-packages.s3.amazonaws.com/centos-6.5/gitlab-7.2.1_omnibus-1.el6.x86_64.rpm">gitlab-7.2.1_omnibus-1.el6.x86_64.rpm</a></td>
                    <td>MD5: ea135cabcdc86f4a2b7bfbb9c5ae973f</td>
                  </tr>

                  <tr>
                    <td><img src="/images/centos.png"></td>
                    <td>CentOS 7.0 64bit (compatible with all Enterprise Linux 7.x distributions)</td>
                    <td><a href="https://downloads-packages.s3.amazonaws.com/centos-7.0.1406/gitlab-7.2.1_omnibus-1.el7.x86_64.rpm">gitlab-7.2.1_omnibus-1.el7.x86_64.rpm</a></td>
                    <td>MD5: b6fce1b0e95942966792aceca96fb285</td>
                  </tr>


                  <!-- 7.2.0 -->
                  <tr>
                    <td><img src="/images/ubuntu.png"></td>
                    <td>Ubuntu 12.04 LTS 64bit</td>
                    <td><a href="https://downloads-packages.s3.amazonaws.com/ubuntu-12.04/gitlab_7.2.0-omnibus.3-1_amd64.deb">gitlab_7.2.0-omnibus.3-1_amd64.deb</a></td>
                    <td>MD5: d2401ca3864fe98242d621724ce20a88</td>
                  </tr>

                  <tr>
                    <td><img src="/images/ubuntu.png"></td>
                    <td>Ubuntu 14.04 LTS 64bit</td>
                    <td><a href="https://downloads-packages.s3.amazonaws.com/ubuntu-14.04/gitlab_7.2.0-omnibus.3-1_amd64.deb">gitlab_7.2.0-omnibus.3-1_amd64.deb</a></td>
                    <td>MD5: 3192de2c7b3d344f181b5aa260d810c7</td>
                  </tr>

                  <tr>
                    <td><img src="/images/debian.png"></td>
                    <td>Debian 7 (Wheezy) 64bit</td>
                    <td><a href="https://downloads-packages.s3.amazonaws.com/debian-7.6/gitlab_7.2.0-omnibus.3-1_amd64.deb">gitlab_7.2.0-omnibus.3-1_amd64.deb</a></td>
                    <td>MD5: f66175ad379dc30cb1b5765d59aa7b7a</td>
                  </tr>

                  <tr>
                    <td><img src="/images/centos.png"></td>
                    <td>CentOS 6.5 64bit (compatible with all Enterprise Linux 6.x distributions)</td>
                    <td><a href="https://downloads-packages.s3.amazonaws.com/centos-6.5/gitlab-7.2.0_omnibus-1.el6.x86_64.rpm">gitlab-7.2.0_omnibus-1.el6.x86_64.rpm</a></td>
                    <td>MD5: 6ab571a39ef19ac4d203644446c7703e</td>
                  </tr>

                  <tr>
                    <td><img src="/images/centos.png"></td>
                    <td>CentOS 7.0 64bit (compatible with all Enterprise Linux 7.x distributions)</td>
                    <td><a href="https://downloads-packages.s3.amazonaws.com/centos-7.0.1406/gitlab-7.2.0_omnibus.1-1.el7.x86_64.rpm">gitlab-7.2.0_omnibus.1-1.el7.x86_64.rpm</a></td>
                    <td>MD5: 5f872916587540bbbfddc64adc08720b</td>
                  </tr>

                  <!-- 7.1.1 -->
                  <tr>
                    <td><img src="/images/ubuntu.png"></td>
                    <td>Ubuntu 12.04 LTS 64bit</td>
                    <td><a href="https://downloads-packages.s3.amazonaws.com/ubuntu-12.04/gitlab_7.1.1-omnibus.1-1_amd64.deb">gitlab_7.1.1-omnibus.1-1_amd64.deb</a></td>
                    <td>MD5: 28fb016406a45c8be36fec0eae35c74b</td>
                  </tr>

                  <tr>
                    <td><img src="/images/ubuntu.png"></td>
                    <td>Ubuntu 14.04 LTS 64bit</td>
                    <td><a href="https://downloads-packages.s3.amazonaws.com/ubuntu-14.04/gitlab_7.1.1-omnibus-1_amd64.deb">gitlab_7.1.1-omnibus-1_amd64.deb</a></td>
                    <td>MD5: a712c502cc2ba2c42a6e38703d639e9a</td>
                  </tr>

                  <tr>
                    <td><img src="/images/debian.png"></td>
                    <td>Debian 7 (Wheezy) 64bit</td>
                    <td><a href="https://downloads-packages.s3.amazonaws.com/debian-7.5/gitlab_7.1.1-omnibus-1_amd64.deb">gitlab_7.1.1-omnibus-1_amd64.deb</a></td>
                    <td>MD5: e57852e1ccf991a5d33d5418d3306a51</td>
                  </tr>

                  <tr>
                    <td><img src="/images/centos.png"></td>
                    <td>CentOS 6.5 64bit (compatible with all Enterprise Linux 6.x distributions)</td>
                    <td><a href="https://downloads-packages.s3.amazonaws.com/centos-6.5/gitlab-7.1.1_omnibus-1.el6.x86_64.rpm">gitlab-7.1.1_omnibus-1.el6.x86_64.rpm</a></td>
                    <td>MD5: 72b794d86941bdbc684c0dbd96a957dd</td>
                  </tr>

                  <!-- 7.1.0 -->
                  <tr>
                    <td><img src="/images/ubuntu.png"></td>
                    <td>Ubuntu 12.04 LTS 64bit</td>
                    <td><a href="https://downloads-packages.s3.amazonaws.com/ubuntu-12.04/gitlab_7.1.0-omnibus-1_amd64.deb">gitlab_7.1.0-omnibus-1_amd64.deb</a></td>
                    <td>MD5: 1d4aa186319b9a4210c5549557c1bb02</td>
                  </tr>

                  <tr>
                    <td><img src="/images/ubuntu.png"></td>
                    <td>Ubuntu 14.04 LTS 64bit</td>
                    <td><a href="https://downloads-packages.s3.amazonaws.com/ubuntu-14.04/gitlab_7.1.0-omnibus-1_amd64.deb">gitlab_7.1.0-omnibus-1_amd64.deb</a></td>
                    <td>MD5: 92eec1e8cc77ac451d5a39f02fa02764</td>
                  </tr>

                  <tr>
                    <td><img src="/images/debian.png"></td>
                    <td>Debian 7 (Wheezy) 64bit</td>
                    <td><a href="https://downloads-packages.s3.amazonaws.com/debian-7.5/gitlab_7.1.0-omnibus-1_amd64.deb">gitlab_7.1.0-omnibus-1_amd64.deb</a></td>
                    <td>MD5: 7f346c0a604190432f51de2ed128c2f7</td>
                  </tr>

                  <tr>
                    <td><img src="/images/centos.png"></td>
                    <td>CentOS 6.5 64bit (compatible with all Enterprise Linux 6.x distributions)</td>
                    <td><a href="https://downloads-packages.s3.amazonaws.com/centos-6.5/gitlab-7.1.0_omnibus-1.el6.x86_64.rpm">gitlab-7.1.0_omnibus-1.el6.x86_64.rpm</a></td>
                    <td>MD5: b3755fdbe754bec9275b1ba290a591e7</td>
                  </tr>

                  <!-- / 7.0.0 and below -->
                  <tr>
                    <td><img src="/images/ubuntu.png"></td>
                    <td>Ubuntu 12.04 LTS 64bit</td>
                    <td><a href="https://downloads-packages.s3.amazonaws.com/ubuntu-12.04/gitlab_7.0.0-omnibus-1_amd64.deb">gitlab_7.0.0-omnibus-1_amd64.deb</a></td>
                    <td>MD5: 302a22620dee2a7c26756ef63753bf98</td>
                  </tr>

                  <tr>
                    <td><img src="/images/ubuntu.png"></td>
                    <td>Ubuntu 14.04 LTS 64bit</td>
                    <td><a href="https://downloads-packages.s3.amazonaws.com/ubuntu-14.04/gitlab_7.0.0-omnibus-1_amd64.deb">gitlab_7.0.0-omnibus-1_amd64.deb</a></td>
                    <td>MD5: 4e2f1e0da67496fb367c137f04e0f11a</td>
                  </tr>

                  <tr>
                    <td><img src="/images/debian.png"></td>
                    <td>Debian 7 (Wheezy) 64bit</td>
                    <td><a href="https://downloads-packages.s3.amazonaws.com/debian-7.5/gitlab_7.0.0-omnibus-1_amd64.deb">gitlab_7.0.0-omnibus-1_amd64.deb</a></td>
                    <td>MD5: 9bfd55e638d068b83441e9fdc188e331</td>
                  </tr>

                  <tr>
                    <td><img src="/images/centos.png"></td>
                    <td>CentOS 6.5 64bit (compatible with all Enterprise Linux 6.x distributions)</td>
                    <td><a href="https://downloads-packages.s3.amazonaws.com/centos-6.5/gitlab-7.0.0_omnibus-1.el6.x86_64.rpm">gitlab-7.0.0_omnibus-1.el6.x86_64.rpm</a></td>
                    <td>MD5: 6bdf1d4f4d43dd39c6aa15f5bfa7d72e</td>
                  </tr>

                    <tr>
                      <td><img src="/images/ubuntu.png"></td>
                      <td>Ubuntu 12.04 LTS 64bit</td>
                      <td><a href="https://downloads-packages.s3.amazonaws.com/ubuntu-12.04/gitlab_7.0.0-omnibus-1_amd64.deb">gitlab_7.0.0-omnibus-1_amd64.deb</a></td>
                      <td>MD5: 302a22620dee2a7c26756ef63753bf98</td>
                    </tr>

                    <tr>
                      <td><img src="/images/ubuntu.png"></td>
                      <td>Ubuntu 12.04 LTS 64bit</td>
                      <td><a href="https://downloads-packages.s3.amazonaws.com/ubuntu-12.04/gitlab_6.9.2-omnibus.2-1_amd64.deb">gitlab_6.9.2-omnibus.2-1_amd64.deb</a></td>
                      <td>MD5: 1825443df46140139f8e85b8b38c8733</td>
                    </tr>

                    <tr>
                      <td><img src="/images/ubuntu.png"></td>
                      <td>Ubuntu 12.04 LTS 64bit</td>
                      <td><a href="https://downloads-packages.s3.amazonaws.com/ubuntu-12.04/gitlab_6.9.1-omnibus-1_amd64.deb">gitlab_6.9.1-omnibus-1_amd64.deb</a></td>
                      <td>MD5: 02e225ea371e3ce23cafd6d146ecf267</td>
                    </tr>
                    <tr>
                      <td><img src="/images/ubuntu.png"></td>
                      <td>Ubuntu 12.04 LTS 64bit</td>
                      <td><a href="https://downloads-packages.s3.amazonaws.com/ubuntu-12.04/gitlab_6.9.0-omnibus-1_amd64.deb">gitlab_6.9.0-omnibus-1_amd64.deb</a></td>
                      <td>MD5: c972cdb0262a70f46cb3900a31d0f680</td>
                    </tr>
                    <tr>
                      <td><img src="/images/ubuntu.png"></td>
                      <td>Ubuntu 12.04 LTS 64bit</td>
                      <td><a href="https://downloads-packages.s3.amazonaws.com/ubuntu-12.04/gitlab_6.8.2-omnibus-1_amd64.deb">gitlab_6.8.2-omnibus-1_amd64.deb</a></td>
                      <td>MD5: b21dbadc890b8a6eb405e1771eea4d73</td>
                    <tr>
                      <td><img src="/images/ubuntu.png"></td>
                      <td>Ubuntu 12.04 LTS 64bit</td>
                      <td><a href="https://downloads-packages.s3.amazonaws.com/ubuntu-12.04/gitlab_6.8.1-omnibus.4-1_amd64.deb">gitlab_6.8.1-omnibus.4-1_amd64.deb</a></td>
                      <td>MD5: 93eb68aa407a33f01b376308bde0b465</td>
                    </tr>
                    <tr>
                      <td><img src="/images/ubuntu.png"></td>
                      <td>Ubuntu 12.04 LTS 64bit</td>
                      <td><a href="https://downloads-packages.s3.amazonaws.com/gitlab_6.7.5-omnibus-1.ubuntu.12.04_amd64.deb">gitlab_6.7.5-omnibus-1.ubuntu.12.04_amd64.deb</a></td>
                      <td>MD5: f9388f42f04433d0c0b7a17e4b2bcdec</td>
                    </tr>
                    <tr>
                      <td><img src="/images/ubuntu.png"></td>
                      <td>Ubuntu 12.04 LTS 64bit</td>
                      <td><a href="https://downloads-packages.s3.amazonaws.com/gitlab_6.7.4-omnibus-1.ubuntu.12.04_amd64.deb">gitlab_6.7.4-omnibus-1.ubuntu.12.04_amd64.deb</a></td>
                      <td>MD5: 3e9e72bd713802b45c5a7fa53cdb2077</td>
                    </tr>
                    <tr>
                      <td><img src="/images/ubuntu.png"></td>
                      <td>Ubuntu 12.04 LTS 64bit</td>
                      <td><a href="https://downloads-packages.s3.amazonaws.com/gitlab_6.7.3-omnibus.3-1.ubuntu.12.04_amd64.deb">gitlab_6.7.3-omnibus.3-1.ubuntu.12.04_amd64.deb</a></td>
                      <td>MD5: 4f595ff0c6a8e16f8e06bf307579b148</td>
                    </tr>
                    <tr>
                      <td><img src="/images/ubuntu.png"></td>
                      <td>Ubuntu 12.04 LTS 64bit</td>
                      <td><a href="https://downloads-packages.s3.amazonaws.com/gitlab_6.7.3-omnibus.2-1.ubuntu.12.04_amd64.deb">gitlab_6.7.3-omnibus.2-1.ubuntu.12.04_amd64.deb</a></td>
                      <td>MD5: 06b22ec592408d12e2d47e86bafc5d6a</td>
                    </tr>
                    <tr>
                      <td><img src="/images/ubuntu.png"></td>
                      <td>Ubuntu 12.04 LTS 64bit</td>
                      <td><a href="https://downloads-packages.s3.amazonaws.com/gitlab_6.7.2-omnibus-1.ubuntu.12.04_amd64.deb">gitlab_6.7.2-omnibus-1.ubuntu.12.04_amd64.deb</a></td>
                      <td>MD5: 13555c13e61ad87af820c461969996ad</td>
                    </tr>
                    <tr>
                      <td><img src="/images/ubuntu.png"></td>
                      <td>Ubuntu 12.04 LTS 64bit</td>
                      <td><a href="https://downloads-packages.s3.amazonaws.com/gitlab_6.6.5-omnibus-1.ubuntu.12.04_amd64.deb">gitlab_6.6.5-omnibus-1.ubuntu.12.04_amd64.deb</a></td>
                      <td>MD5: f67badffae3b3f855b05133f6776bf3a</td>
                    </tr>
                    <tr>
                      <td><img src="/images/ubuntu.png"></td>
                      <td>Ubuntu 12.04 LTS 64bit</td>
                      <td><a href="https://downloads-packages.s3.amazonaws.com/gitlab_6.6.4-omnibus-1.ubuntu.12.04_amd64.deb">gitlab_6.6.4-omnibus-1.ubuntu.12.04_amd64.deb</a></td>
                      <td>MD5: fa5642248ef8ea1ff3970abc7547f7fc</td>
                    </tr>
                    <tr>
                      <td><img src="/images/ubuntu.png"></td>
                      <td>Ubuntu 12.04 LTS 64bit</td>
                      <td><a href="https://downloads-packages.s3.amazonaws.com/gitlab_6.6.0-pre1.omnibus.3-1.ubuntu.12.04_amd64.deb">gitlab_6.6.0-pre1.omnibus.3-1.ubuntu.12.04_amd64.deb</a></td>
                      <td>MD5: a3fcf83062b5de1a035db1f0b00a63ea</td>
                    </tr>
                      <tr>
                        <td><img src="/images/ubuntu.png"></td>
                        <td>Ubuntu 12.04 LTS 64bit</td>
                        <td><a href="https://downloads-packages.s3.amazonaws.com/gitlab_6.6.0-pre1.omnibus.2-1.ubuntu.12.04_amd64.deb">gitlab_6.6.0-pre1.omnibus.2-1.ubuntu.12.04_amd64.deb</a></td>
                        <td>MD5: d9702efc7fe13d4033c50a3c382b0227</td>
                    </tr>

                    <tr>
                      <td><img src="/images/debian.png"></td>
                      <td>Debian 7 (Wheezy) 64bit</td>
                      <td><a href="https://downloads-packages.s3.amazonaws.com/debian-7.5/gitlab_7.0.0-omnibus-1_amd64.deb">gitlab_7.0.0-omnibus-1_amd64.deb</a></td>
                      <td>MD5: 9bfd55e638d068b83441e9fdc188e331</td>
                    </tr>

                    <tr>
                      <td><img src="/images/debian.png"></td>
                      <td>Debian 7 (Wheezy) 64bit</td>
                      <td><a href="https://downloads-packages.s3.amazonaws.com/debian-7.5/gitlab_6.9.2-omnibus.2-1_amd64.deb">gitlab_6.9.2-omnibus.2-1_amd64.deb</a></td>
                      <td>MD5: 4b6c085654c161d3526fdf912a72b14e</td>
                    </tr>

                    <tr>
                      <td><img src="/images/debian.png"></td>
                      <td>Debian 7 (Wheezy) 64bit</td>
                      <td><a href="https://downloads-packages.s3.amazonaws.com/debian-7.4/gitlab_6.9.1-omnibus-1_amd64.deb">gitlab_6.9.1-omnibus-1_amd64.deb</a></td>
                      <td>MD5: aabf00de1d518bbd82ee122e9e45c2c1</td>
                    </tr>
                    <tr>
                      <td><img src="/images/debian.png"></td>
                      <td>Debian 7 (Wheezy) 64bit</td>
                      <td><a href="https://downloads-packages.s3.amazonaws.com/debian-7.4/gitlab_6.9.0-omnibus.2-1_amd64.deb">gitlab_6.9.0-omnibus.2-1_amd64.deb</a></td>
                      <td>MD5: 05b2078824c187276ded039fc1108963</td>
                    </tr>
                    <tr>
                      <td><img src="/images/debian.png"></td>
                      <td>Debian 7.4 64bit</td>
                      <td><a href="https://downloads-packages.s3.amazonaws.com/debian-7.4/gitlab_6.8.2-omnibus-1_amd64.deb">gitlab_6.8.2-omnibus-1_amd64.deb</a></td>
                      <td>MD5: 499fa23196fb139b09c15335014a5463</td>
                    </tr>
                    <tr>
                    <tr>
                      <td><img src="/images/debian.png"></td>
                      <td>Debian 7.4 64bit</td>
                      <td><a href="https://downloads-packages.s3.amazonaws.com/debian-7.4/gitlab_6.8.1-omnibus.4-1_amd64.deb">gitlab_6.8.1-omnibus.4-1_amd64.deb</a></td>
                      <td>MD5: e3696d1adc4872f067ed16b020ef55d2</td>
                    </tr>

                    <tr>
                      <td><img src="/images/centos.png"></td>
                      <td>CentOS 6.5 64bit (compatible with all Enterprise Linux 6.x distributions)</td>
                      <td><a href="https://downloads-packages.s3.amazonaws.com/centos-6.5/gitlab-7.0.0_omnibus-1.el6.x86_64.rpm">gitlab-7.0.0_omnibus-1.el6.x86_64.rpm</a></td>
                      <td>MD5: 6bdf1d4f4d43dd39c6aa15f5bfa7d72e</td>
                    </tr>

                    <tr>
                      <td><img src="/images/centos.png"></td>
                      <td>CentOS 6.5 64bit (compatible with all Enterprise Linux 6.x distributions)</td>
                      <td><a href="https://downloads-packages.s3.amazonaws.com/centos-6.5/gitlab-6.9.2_omnibus.2-1.el6.x86_64.rpm">gitlab-6.9.2_omnibus.2-1.el6.x86_64.rpm</a></td>
                      <td>MD5: 9cd0ccb6f2dd1ab6239e3258bae439e3</td>
                    </tr>

                    <tr>
                      <td><img src="/images/centos.png"></td>
                      <td>CentOS 6.5 64bit (compatible with all Enterprise Linux 6.x distributions)</td>
                      <td><a href="https://downloads-packages.s3.amazonaws.com/centos-6.5/gitlab-6.9.1_omnibus-1.el6.x86_64.rpm">gitlab-6.9.1_omnibus-1.el6.x86_64.rpm</a></td>
                      <td>MD5: 583c60b37bca999c63f88ea8d171d093</td>
                    </tr>

                    <tr>
                      <td><img src="/images/centos.png"></td>
                      <td>CentOS 6.5 64bit (compatible with all Enterprise Linux 6.x distributions)</td>
                      <td><a href="https://downloads-packages.s3.amazonaws.com/centos-6.5/gitlab-6.9.0_omnibus-1.el6.x86_64.rpm">gitlab-6.9.0_omnibus-1.el6.x86_64.rpm</a></td>
                      <td>MD5: 277482450a8a1a006994b64568633919</td>
                    </tr>
                    <tr>
                      <td><img src="/images/centos.png"></td>
                      <td>CentOS 6.5 64bit (compatible with all Enterprise Linux 6.x distribitions)</td>
                      <td><a href="https://downloads-packages.s3.amazonaws.com/centos-6.5/gitlab-6.8.2_omnibus-1.el6.x86_64.rpm">gitlab-6.8.2_omnibus-1.el6.x86_64.rpm</a></td>
                      <td>MD5: e691eff2f7c82571c6b011c00fc64196</td>
                    </tr>
                    <tr>
                      <td><img src="/images/centos.png"></td>
                      <td>CentOS 6.5 64bit (compatible with all Enterprise Linux 6.x distribitions)</td>
                      <td><a href="https://downloads-packages.s3.amazonaws.com/centos-6.5/gitlab-6.8.1_omnibus.4-1.el6.x86_64.rpm">gitlab-6.8.1_omnibus.4-1.el6.x86_64.rpm</a></td>
                      <td>MD5: f4c8dc83ecb300e11480c9918b524421</td>
                    </tr>
                    <tr>
                      <td><img src="/images/centos.png"></td>
                      <td>CentOS 6.5 64bit (compatible with all Enterprise Linux 6.x distribitions)</td>
                      <td><a href="https://downloads-packages.s3.amazonaws.com/gitlab-6.7.5_omnibus-1.el6.x86_64.rpm">gitlab-6.7.5_omnibus-1.el6.x86_64.rpm</a></td>
                      <td>MD5: 5e20e740da461d3c58091e5899294a93</td>
                    </tr>
                    <tr>
                      <td><img src="/images/centos.png"></td>
                      <td>CentOS 6.5 64bit (compatible with all Enterprise Linux 6.x distribitions)</td>
                      <td><a href="https://downloads-packages.s3.amazonaws.com/gitlab-6.7.4_omnibus-1.el6.x86_64.rpm">gitlab-6.7.4_omnibus-1.el6.x86_64.rpm</a></td>
                      <td>MD5: df54df440c133cf4d24e4e0ab72f040d</td>
                    </tr>
                    <tr>
                      <td><img src="/images/centos.png"></td>
                      <td>CentOS 6.5 64bit (compatible with all Enterprise Linux 6.x distribitions)</td>
                      <td><a href="https://downloads-packages.s3.amazonaws.com/gitlab-6.7.3_omnibus.3-1.el6.x86_64.rpm">gitlab-6.7.3_omnibus.3-1.el6.x86_64.rpm</a></td>
                      <td>MD5: 34a44af9a461acc10382348855f1de19</td>
                    </tr>
                    <tr>
                      <td><img src="/images/centos.png"></td>
                      <td>CentOS 6.5 64bit (compatible with all Enterprise Linux 6.x distribitions)</td>
                      <td><a href="https://downloads-packages.s3.amazonaws.com/gitlab-6.7.3_omnibus.2-1.el6.x86_64.rpm">gitlab-6.7.3_omnibus.2-1.el6.x86_64.rpm</a></td>
                      <td>MD5: ff80edc1133cb04f69a2e3c74d4b92d5</td>
                    </tr>
                    <tr>
                      <td><img src="/images/centos.png"></td>
                      <td>CentOS 6.5 64bit</td>
                      <td><a href="https://downloads-packages.s3.amazonaws.com/gitlab-6.7.2_omnibus-1.el6.x86_64.rpm">gitlab-6.7.2_omnibus-1.el6.x86_64.rpm</a></td>
                      <td>MD5: 58c8c3411a052855ce6152212ffea2c3</td>
                    </tr>
                    <tr>
                      <td><img src="/images/centos.png"></td>
                      <td>CentOS 6.5 64bit</td>
                      <td><a href="https://downloads-packages.s3.amazonaws.com/gitlab-6.6.5_omnibus-1.el6.x86_64.rpm">gitlab-6.6.5_omnibus-1.el6.x86_64.rpm</a></td>
                      <td>MD5: 53fa8fb4c5572de2faeeffd91a6cdd27</td>
                    </tr>
                    <tr>
                      <td><img src="/images/centos.png"></td>
                      <td>CentOS 6.5 64bit</td>
                      <td><a href="https://downloads-packages.s3.amazonaws.com/gitlab-6.6.4_omnibus-1.el6.x86_64.rpm">gitlab-6.6.4_omnibus-1.el6.x86_64.rpm</a></td>
                      <td>MD5: 19f0ef4601d556eef31e38f7282e70aa</td>
                    </tr>
                    <tr>
                      <td><img src="/images/centos.png"></td>
                      <td>CentOS 6.5 64bit</td>
                      <td><a href="https://downloads-packages.s3.amazonaws.com/gitlab-6.6.0_pre1.omnibus.3-1.el6.x86_64.rpm">gitlab-6.6.0_pre1.omnibus.3-1.el6.x86_64.rpm</a></td>
                      <td>MD5: 6ed0d89d1c7d65f80df60d78eab1e87d</td>
                    </tr>
                    <tr>
                      <td><img src="/images/centos.png"></td>
                      <td>CentOS 6.5 64bit</td>
                      <td><a href="https://downloads-packages.s3.amazonaws.com/gitlab-6.6.0_pre1.omnibus.2-1.el6.x86_64.rpm">gitlab-6.6.0_pre1.omnibus.2-1.el6.x86_64.rpm</a></td>
                      <td>MD5: 34a0fef3c803f86f9584e54de0e45cc9</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
