---
layout: default
title: Version Control on your Server | Better than GitHub
suppress_header: true
extra_css:
  - landing.css
---
<div id="landing">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 text-center">
        <h1 class="landing-header">Version Control for your Server</h1>
        <div class="gitlab-comparison">
          <a href="/better-than-github/" class="comparison">Better than GitHub</a>
        </div>
        <div class="col-sm-12 col-md-12 features-panel">
          <p class="text-center">
          <!-- mobile ctas -->
         <div class="landing-ctas hidden-sm hidden-md hidden-lg">
            <a href="https://about.gitlab.com/downloads/" class="ce" onClick="_gaq.push(['_trackEvent', 'Landing page', 'call to action', 'Download']);">Download and install the <a href="https://gitlab.com/gitlab-org/gitlab-ce/tree/master">open source</a> GitLab CE in 2 minutes</a>
            <br>
            <a href="https://about.gitlab.com/pricing/" class="ee" onClick="_gaq.push(['_trackEvent', 'Landing page', 'call to action', 'Pricing']);">Pricing for support and the enterprise features of GitLab EE</a>
            <br>
            <a href="https://gitlab.com/users/sign_in" class="com" onClick="_gaq.push(['_trackEvent', 'Landing page', 'call to action', 'GitLab.com']);">
              Sign up for GitLab.com with unlimited free (private) repositories and collaborators
            </a>
            <br>
          </div>
          <!-- full site ctas -->
          <div class="header-feature hidden-xs">
            <ul>
              <li>
                <div class="clickable">
                  <a href="https://about.gitlab.com/downloads/" class="select-area"></a>
                  <i class="fa fa-download"></i>
                  <p>Download and install the open source GitLab CE in <span>2 minutes.</span></p>
                  <div class="header-btn">
                    <a class="comparison" href="https://about.gitlab.com/downloads/">Download</a>
                  </div>
                </div>
              </li>
              <li>
                <div class="clickable">
                  <a href="https://about.gitlab.com/pricing" class="select-area"></a>
                  <i class="fa fa-plus"></i>
                  <p>Pricing for support and the enterprise features of GitLab EE.</p> 
                  <div class="header-btn">
                    <a class="comparison" href="https://about.gitlab.com/pricing/">Pricing</a>
                  </div>
                </div>
              </li>       
              <li>
                <div class="clickable">
                  <a href="http://gitlab.com/users/sign_in" class="select-area"></a>
                  <i class="fa fa-cloud"></i>
                  <p>Sign up for GitLab.com with unlimited free (private) repositories and collaborators.</p>
                  <div class="header-btn">
                    <a class="comparison" href="https://gitlab.com/users/sign_in">Sign Up</a>
                  </div>
                </div>
              </li>
            </ul>
          </div>            
          </p>
        </div>
      </div>
    </div>
    <div class="see-further">
      <i class="fa fa-chevron-down"></i>
    </div>
  </div>
</div>

<div class="container what-is">
  <div class="row text-center">
    <div class="what-container">
      <div class="what-column">
        <div class="what-item">
          <div class="what-image">
            <i class="fa fa-rocket"></i>
            <h3>Feature-packed</h3>
          </div>
          <div class="what-content">
            <p><b>Future-Proof</b>: Browse your code, review its history and work together on its future. Mention your colleagues anywhere and they get updated automatically.</p>
            <p><b>The Right Tools</b>: GitLab is an advanced Git-repository manager. It introduces a powerful code review and issue-tracking system, complete with GitLab CI: a powerful continuous integration tool.</p>
            <p><b>Integrated and Ready</b>: GitLab has integrations for tons of tools such as Hipchat, Slack, LDAP, JIRA and more.</p>
          </div>
        </div>
      </div>
      <div class="what-column">
        <div class="what-item">
          <div class="what-image">
            <i class="fa fa-gears"></i>
            <h3>Scalable and easily-managed</h3>
          </div>
          <div class="what-content">
            <p><b>Scales Effortlessly</b>: Running smoothly on tiny servers and scaling easily to large clusters of many machines, a single server handles thousands of users and repositories.</p>
            <p><b>Updated Monthly</b>: Every month a big upgrade is released and it'll only take you 2 minutes to deploy it.</p>
            <p><b>On Your Servers</b>: Run it on your own infrastructure without a need for Internet access. Own everything.</p>
          </div>
        </div>
      </div>
      <div class="what-column">
        <div class="what-item">
          <div class="what-image">
            <i class="fa fa-globe"></i>
            <h3>Community-loved</h3>
          </div>
          <div class="what-content">
            <p><b>GitLab Community Edition</b> is completely free and open source. Built by a community of hundreds and used by over a hundred thousand organizations world-wide. From small workshops to large, security-concerned enterprises.</p>
            <p><b>GitLab Enterprise</b> Edition comes with our subscriptions and offers deeper LDAP / AD integration, Jira and Jenkins integration and much more.</p>
            <p>Standard subscribers get 24/7 emergency support and any help they need to get and stay rolling.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="content">
  <div class="text-center logos">
    <h2>GitLab is used by more than <span>100,000</span> organizations</h2>
    <br />
  </div>
  <div class="container">
    <div class="row text-center logos">
      <div class="col-xs-6 col-md-2 logos-holder">
        <div class="col-md-12 col-sm-12 logos-inner logo_1a">
          <img alt="image" src="/images/organizations/logo_1a.png">
        </div>
      </div>
      <div class="col-xs-6 col-md-2 logos-holder">
        <div class="col-md-12 col-sm-12 logos-inner logo_2a">
          <img alt="image" src="/images/organizations/logo_2a.png">
        </div>
      </div>
      <div class="col-xs-12 col-md-2 logos-holder">
        <div class="col-md-12 col-sm-12 logos-inner logo_3a">
          <img alt="image" src="/images/organizations/logo_3a.png">
        </div>
      </div>
      <div class="col-xs-6 col-md-2 logos-holder">
        <div class="col-md-12 col-sm-12 logos-inner logo_4a">
          <img alt="image" src="/images/organizations/logo_4a.png">
        </div>
      </div>
      <div class="col-xs-6 col-md-2 logos-holder">
        <div class="col-md-12 col-sm-12 logos-inner logo_5a">
          <img alt="image" src="/images/organizations/logo_5a.png">
        </div>
      </div>
      <div class="col-xs-6 col-md-2 logos-holder">
        <div class="col-md-12 col-sm-12 logos-inner logo_6a">
          <img alt="image" src="/images/organizations/logo_6a.png">
        </div>
      </div>
      <div class="col-xs-6 col-md-2 logos-holder">
        <div class="col-md-12 col-sm-12 logos-inner logo_1b">
          <img alt="image" src="/images/organizations/logo_1b.png">
        </div>
      </div>
      <div class="col-xs-6 col-md-2 logos-holder">
        <div class="col-md-12 col-sm-12 logos-inner logo_2b">
          <img alt="image" src="/images/organizations/logo_2b.png">
        </div>
      </div>
      <div class="col-xs-6 col-md-2 logos-holder">
        <div class="col-md-12 col-sm-12 logos-inner logo_3b">
          <img alt="image" src="/images/organizations/logo_3b.png">
        </div>
      </div>
      <div class="col-xs-6 col-md-2 logos-holder">
        <div class="col-md-12 col-sm-12 logos-inner logo_4b">
          <img alt="image" src="/images/organizations/logo_4b.png">
        </div>
      </div>
      <div class="col-xs-6 col-md-2 logos-holder">
        <div class="col-md-12 col-sm-12 logos-inner logo_5b">
          <img alt="image" src="/images/organizations/logo_5b.png">
        </div>
      </div>
      <div class="col-xs-6 col-md-2 logos-holder">
        <div class="col-md-12 col-sm-12 logos-inner logo_7b">
          <img alt="image" src="/images/organizations/logo_7b.png">
        </div>
      </div>
      <div class="col-xs-6 col-md-2 logos-holder">
        <div class="col-md-12 col-sm-12 logos-inner logo_1c">
          <img alt="image" src="/images/organizations/logo_1c.png">
        </div>
      </div>
      <div class="col-xs-6 col-md-2 logos-holder">
        <div class="col-md-12 col-sm-12 logos-inner logo_2c">
          <img alt="image" src="/images/organizations/logo_2c.png">
        </div>
      </div>
      <div class="col-xs-6 col-md-2 logos-holder">
        <div class="col-md-12 col-sm-12 logos-inner logo_3c">
          <img alt="image" src="/images/organizations/logo_3c.png">
        </div>
      </div>
      <div class="col-xs-6 col-md-2 logos-holder">
        <div class="col-md-12 col-sm-12 logos-inner logo_4c">
          <img alt="image" src="/images/organizations/logo_4c.png">
        </div>
      </div>
      <div class="col-xs-6 col-md-2 logos-holder">
        <div class="col-md-12 col-sm-12 logos-inner logo_5c">
          <img alt="image" src="/images/organizations/logo_5c.png">
        </div>
      </div>
      <div class="col-xs-6 col-md-2 logos-holder">
        <div class="col-md-12 col-sm-12 logos-inner logo_7c">
          <img alt="image" src="/images/organizations/logo_7c.png">
        </div>
        </div>
      <br/>
      <br/>
      <br/>
      <small>All logos and trademarks are the property of their respective owners.</small>
    </div>
    <br>
  </div>
</div>

<div class="testimonial-container">
  <div class="testimonial-content">
    <div class="text-center"><h2>What People Are Saying About GitLab</h2></div>
    <div class="row text-center">
      <div class="column col-md-12">
        <div class="message-container">
          <div class="message">"The on-premise installation is a big advantage for companies that need to keep sensitive information in-house."</div>
          <div class="author">
            <img src="/images/testimonials/360i.png" alt="">
            <span class="name">Keith Harris</span>
            <span class="info">
              <a href="https://www.gitlab.com/case-studies/360i-transitions-to-gitlab/">Associate Director - 360i</a>
            </span>
          </div>  
        </div>
        <div class="message-container">
          <div class="message">"Gitlab is an excellent option..... not only more user friendly than Gitorious but also easier to install."</div>
          <div class="author">
            <img src="/images/testimonials/phusion.png" alt="">
            <span class="name">Hongli Lai</span>
            <span class="info">
              <a href="http://www.phusion.nl/">Maker of Passenger, the most popular Ruby application server</a>
            </span>
          </div>  
        </div>
        <div class="message-container">
          <div class="message">"My department has been using GitLab since version 1.0 and have found
            that it's a good code sharing platform that keeps getting better with
            each release. GitLab fills our need and desire for such code sharing
            capability while at the same time satisfying the organizations
            direction that University intellectual property not be placed on
            public cloud-based services outside of campus."
          </div>
          <div class="author">
            <img src="/images/testimonials/msu.gif">
            <span class="name">Troy Murray</span>
            <span class="info">
              <a href="http://www.msu.edu/">Information Technologist II - Michigan State University</a>
            </span>
          </div>  
        </div>
      </div>
    </div>
  </div>
  <hr/>
  <div class="row testimonial-news-container">
    <div class="testimonial-news">
      <h2>"Code collaboration platform GitLab acquires rival Gitorious”</h2>
      <a href="http://thenextweb.com/insider/2015/03/03/gitlab-acquires-rival-gitorious-will-shut-june-1/"><img src="/images/testimonials/user_99.svg" width="120px" alt="The Next Web"></a>
    </div>  
  </div>
  <div class="row testimonial-news-container">
    <div class="testimonial-news">
      <h2>"YC-Backed GitLab Is Like GitHub But For Enterprise – You Know, Like GitHub Enterprise”</h2>
      <a href="http://techcrunch.com/2015/03/03/the-great-git-debate/#nOvNCE:d8EC"><img src="/images/testimonials/user_100.svg" width="100px" alt="Tech Crunch"></a>
    </div>  
  </div>
  <div class="row testimonial-news-container">
    <div class="testimonial-news">
      <h2>"Handy Tools Software Developers Love and Why They Love Them”</h2>
      <a href="http://www.huffingtonpost.com/andre-bourque/handy-tools-software-deve_b_6787766.html"><img src="/images/testimonials/user_101.svg" width="220px" alt="The Huffington Post"></a>
    </div>  
  </div>
</div>

<div class="content">
  <div class="row text-center twitter-head">
    <h2>What People <span>On Twitter</span> Are Saying about GitLab</h2>
    <br />
</div>
<div class="container">
  <div class="row text-center">
    <div class="col-md-12">
      <a class="twitter-timeline" href="https://twitter.com/gitlab/favorites" data-widget-id="566361351866441728">Favorite Tweets by @gitlab</a>
      <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
        </div>
      </div>
      <br />
      <div class="read-more-tweets">
        <a href="https://twitter.com/gitlab/favorites">Read more of what people are saying</a>
      </div>
    </div>
  </div>
</div>

<div class="row videos">
  <div class="col-sm-12 col-md-12 gitlab-video">
    <h1 class="text-center">Working Effectively With GitLab Issues and Merge Requests</h2>
    <br />
    <div class="col-sm-12 col-md-12 text-center">
       <iframe class="videoembed" src="https://www.youtube.com/embed/raXvuwet78M" frameborder="0" allowfullscreen=""></iframe>
    </div>
  </div>
</div>
